 ## Task 1: Develop python code to analyze cost of medicine/activities, cost distribution, and cost projections
    1.a Cost of Medicine per person in targeted population
    1.b Five Year Projection both cost and medicine needed over 5 Years
    1.c All funding sources, including salary information

In [ ]:
!pip install EasyNMT

In [1]:
# Load data into colab
from google.colab import files
uploaded = files.upload()

Saving disease_burden.csv to disease_burden.csv
Saving drug_data.csv to drug_data.csv
Saving drug_data_with_cost_values.xlsx to drug_data_with_cost_values.xlsx
Saving financing_activities.csv to financing_activities.csv
Saving miscellaneous.csv to miscellaneous.csv
Saving per_diems.csv to per_diems.csv
Saving personnel_costs.csv to personnel_costs.csv
Saving population_data.csv to population_data.csv
Saving TIPAC_hackathon_dataset_draft.xlsx to TIPAC_hackathon_dataset_draft.xlsx
Saving transport_costs.csv to transport_costs.csv
Saving Updated_populationData.csv to Updated_populationData.csv

In [39]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import io
import warnings
from easynmt import EasyNMT
warnings.filterwarnings("ignore")

In [12]:
# Read data into colab 

population_Data = pd.read_csv(io.BytesIO(uploaded['population_data.csv']))
transport_costData = pd.read_csv(io.BytesIO(uploaded['transport_costs.csv']))
personnel_costsData = pd.read_csv(io.BytesIO(uploaded['personnel_costs.csv']))

per_diemsData = pd.read_csv(io.BytesIO(uploaded['per_diems.csv']))
miscellaneous_Data = pd.read_csv(io.BytesIO(uploaded['miscellaneous.csv']))
drug_Data = pd.read_csv(io.BytesIO(uploaded['drug_data.csv']))

disease_burdenData = pd.read_csv(io.BytesIO(uploaded['disease_burden.csv']))
financing_activitiesData = pd.read_csv(io.BytesIO(uploaded['financing_activities.csv']))
drug_data_with_cost_values = pd.read_excel(io.BytesIO(uploaded['drug_data_with_cost_values.xlsx']))

total_Populationdata = pd.read_csv(io.BytesIO(uploaded['Updated_populationData.csv']))

In [ ]:
# Read the data from local system
population_Data = pd.read_csv("C:/Users/cbogadi/Downloads/population_data.csv")
transport_costData = pd.read_csv("C:/Users/cbogadi/Downloads/transport_costs.csv")
personnel_costsData = pd.read_csv("C:/Users/cbogadi/Downloads/personnel_costs.csv")

per_diemsData = pd.read_csv("C:/Users/cbogadi/Downloads/per_diems.csv")
miscellaneous_Data = pd.read_csv("C:/Users/cbogadi/Downloads/miscellaneous.csv")
drug_Data = pd.read_csv("C:/Users/cbogadi/Downloads/drug_data.csv")

disease_burdenData = pd.read_csv("C:/Users/cbogadi/Downloads/disease_burden.csv")
financing_activitiesData = pd.read_csv("C:/Users/cbogadi/Downloads/financing_activities.csv")
drug_data_with_cost_values = pd.read_excel("C:/Users/cbogadi/Downloads/drug_data_with_cost_values.xlsx")


## Updated total population data
total_Populationdata = pd.read_csv('C:/Users/cbogadi/Downloads/Updated_populationData.csv')

#### Data Cleaning & Feature Engineering

In [13]:
disease_burdenData['Total population2022'] = total_Populationdata[['FY 2022 - Total population']]
disease_burdenData['Total population2023'] = total_Populationdata[['FY 2023 - Total population']]
disease_burdenData['Total population2024'] = total_Populationdata[['FY 2024 - Total population']]
disease_burdenData['Total population2025'] = total_Populationdata[['FY 2025 - Total population']]

disease_burdenData['Total population2022'] = disease_burdenData['Total population2022'].str.replace(',','')
disease_burdenData['Total population2023'] = disease_burdenData['Total population2023'].str.replace(',','')
disease_burdenData['Total population2024'] = disease_burdenData['Total population2024'].str.replace(',','')
disease_burdenData['Total population2025'] = disease_burdenData['Total population2025'].str.replace(',','')

disease_burdenData['Total population2022'] = pd.to_numeric(disease_burdenData['Total population2022'])
disease_burdenData['Total population2023'] = pd.to_numeric(disease_burdenData['Total population2023'])
disease_burdenData['Total population2024'] = pd.to_numeric(disease_burdenData['Total population2024'])
disease_burdenData['Total population2025'] = pd.to_numeric(disease_burdenData['Total population2025'])

In [14]:
# Get full view of the dataframe
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

pd.options.display.float_format = '{:.2f}'.format

### Assumptions made:

- ##### Oncho Disease Burden Code Value: 0 = 0, 1 = 0.8
** ≥ 5 years
- ##### LF Disease Burden Code Value: 0 = 0, 1 = 0.96 
-- LF: ≥ 2 years and ≥ 5 years
- ##### Trachoma Disease Burden Code Value: 0 = 0 , 1 = 0.16, 2 = 0.16 
-- <6 months, 6-59 months and 5 years
- ##### STH Disease Burden Code Value: 0 = 0 , 1 = 0 , 2 = 0.96 , 3 = 0.96 
-- Pre-school age (1-4 years), School aged (5-14 years) and Adult (>15 years)

- ##### SCH Disease Burden Code Value: 0 = 0, 1 = 0.8 , 2 = 0.8, 3 = 0.80
-- School aged children and adults

### Cost of the MDA remains same across the years

##### Red flags 
* In the given dataset, target population for the year 2021 and 2022 are same. Ideally, that shouldn't be the case.
* For the drug data, it is uclear on the drug units year.


![image.png](attachment:image.png)

In [15]:
# Extract the disease burden code data for each year

disease_burdenData_2021 = disease_burdenData[['Regions','Districts','Total population2021','LF Disease Burden Code2021','Oncho Disease Burden Code2021','SCH Disease Burden Code2021','STH Disease Burden Code2021','Trachoma Disease Burden Code2021']]

disease_burdenData_2022 = disease_burdenData[['Regions','Districts','Total population2022','LF Disease Burden Code2022','Oncho Disease Burden Code2022','SCH Disease Burden Code2022','STH Disease Burden Code2022','Trachoma Disease Burden Code2022']]

disease_burdenData_2023 = disease_burdenData[['Regions','Districts','Total population2023','LF Disease Burden Code2023','Oncho Disease Burden Code2023','SCH Disease Burden Code2023','STH Disease Burden Code2023','Trachoma Disease Burden Code2023']]

disease_burdenData_2024 = disease_burdenData[['Regions','Districts','Total population2024','LF Disease Burden Code2024','Oncho Disease Burden Code2024','SCH Disease Burden Code2024','STH Disease Burden Code2024','Trachoma Disease Burden Code2024']]

disease_burdenData_2025 = disease_burdenData[['Regions','Districts','Total population2025','LF Disease Burden Code2025','Oncho Disease Burden Code2025','SCH Disease Burden Code2025','STH Disease Burden Code2025','Trachoma Disease Burden Code2025']]

disease_burdenData_2026 = disease_burdenData[['Regions','Districts','Total population2026','LF Disease Burden Code2026','Oncho Disease Burden Code2026','SCH Disease Burden Code2026','STH Disease Burden Code2026','Trachoma Disease Burden Code2026']]

* Extract target population for each disease code - 2021

In [16]:
disease_burdenData_2021['LF Target population 2021'] = (
                                                    np.select( condlist=[disease_burdenData_2021['LF Disease Burden Code2021'] == 0.0, disease_burdenData_2021['LF Disease Burden Code2021'] == 1], 
                                                    choicelist=[disease_burdenData_2021['Total population2021'] * 0, disease_burdenData_2021['Total population2021'] * 0.96], 
                                                    default=''))

disease_burdenData_2021['Oncho Target population 2021'] = (
                                                    np.select( condlist=[disease_burdenData_2021['Oncho Disease Burden Code2021'] == 0.0, disease_burdenData_2021['Oncho Disease Burden Code2021'] == 1], 
                                                    choicelist=[disease_burdenData_2021['Total population2021'] * 0, disease_burdenData_2021['Total population2021'] * 0.8], 
                                                    default=''))

disease_burdenData_2021['SCH Target population 2021'] = (np.select( condlist=[disease_burdenData_2021['SCH Disease Burden Code2021'] == 0.0, disease_burdenData_2021['SCH Disease Burden Code2021'] == 1.0 ,disease_burdenData_2021['SCH Disease Burden Code2021'] == 2.0,disease_burdenData_2021['SCH Disease Burden Code2021'] == 3.0], 
                                                    choicelist=[disease_burdenData_2021['Total population2021'] * 0, disease_burdenData_2021['Total population2021'] * 0.8, disease_burdenData_2021['Total population2021'] * 0.8, disease_burdenData_2021['Total population2021'] * 0.8], 
                                                    default=''))

disease_burdenData_2021['STH Target population 2021'] = (
                                                    np.select( condlist=[disease_burdenData_2021['STH Disease Burden Code2021'] == 0.0, disease_burdenData_2021['STH Disease Burden Code2021'] == 1,disease_burdenData_2021['STH Disease Burden Code2021'] == 2, disease_burdenData_2021['STH Disease Burden Code2021'] == 3], 
                                                    choicelist=[disease_burdenData_2021['Total population2021'] * 0, disease_burdenData_2021['Total population2021'] * 0, disease_burdenData_2021['Total population2021'] * 0.96,disease_burdenData_2021['Total population2021'] * 0.96], 
                                                    default=''))

disease_burdenData_2021['Trachoma Target population 2021'] = (
                                                    np.select( condlist=[disease_burdenData_2021['Trachoma Disease Burden Code2021'] == 0.0, disease_burdenData_2021['Trachoma Disease Burden Code2021'] == 1,disease_burdenData_2021['Trachoma Disease Burden Code2021'] == 2], 
                                                    choicelist=[disease_burdenData_2021['Total population2021'] * 0, disease_burdenData_2021['Total population2021'] * 0.16, disease_burdenData_2021['Total population2021'] * 0.16], 
                                                    default=''))


disease_burdenData_2021 = disease_burdenData_2021[['Regions','Districts','LF Target population 2021','Oncho Target population 2021','SCH Target population 2021','STH Target population 2021','Trachoma Target population 2021']]
disease_burdenData_2021_numeric = disease_burdenData_2021[['LF Target population 2021','Oncho Target population 2021','SCH Target population 2021','STH Target population 2021','Trachoma Target population 2021']].apply(pd.to_numeric)
disease_burdenData_2021_numeric = disease_burdenData_2021_numeric.round()
disease_burdenData_2021_categorical = disease_burdenData_2021[['Regions','Districts']]
disease_burdenData_2021 = disease_burdenData_2021_categorical.join(disease_burdenData_2021_numeric)
disease_burdenData_2021 = disease_burdenData_2021.dropna()
disease_burdenData_2021

,Regions,Districts,LF Target population 2021,Oncho Target population 2021,SCH Target population 2021,STH Target population 2021,Trachoma Target population 2021
0,Boke,Boffa,0.00,0.00,0.00,0.00,41774.00
1,Boke,Boke,0.00,0.00,442163.00,0.00,88433.00
2,Boke,Fria,0.00,0.00,95036.00,0.00,19007.00
3,Boke,Gaoual,228376.00,190314.00,190314.00,0.00,38063.00
4,Boke,Koundara,153218.00,127682.00,127682.00,0.00,25536.00
5,Conakry,Dixinn,0.00,0.00,0.00,0.00,0.00
6,Conakry,Kaloum,0.00,0.00,0.00,0.00,0.00
7,Conakry,Matam,0.00,0.00,0.00,0.00,0.00
8,Conakry,Matoto,0.00,0.00,654672.00,0.00,0.00
9,Conakry,Ratoma,0.00,0.00,641398.00,0.00,0.00
10,Faranah,Dabola,0.00,178073.00,178073.00,0.00,35615.00
11,Faranah,Dinguiraye,231698.00,193082.00,193082.00,0.00,38616.00
12,Faranah,Faranah,330501.00,275418.00,275418.00,330501.00,55084.00
13,Faranah,Kissidougou,334173.00,278478.00,278478.00,334173.00,55696.00
14,Kankan,Kankan,556318.00,463598.00,463598.00,556318.00,92720.00
15,Kankan,Kerouane,244843.00,204036.00,204036.00,244843.00,40807.00
16,Kankan,Kouroussa,316645.00,263871.00,263871.00,316645.00,52774.00
17,Kankan,Mandiana,396328.00,330274.00,330274.00,396328.00,66055.00
18,Kankan,Siguiri,799336.00,666114.00,666114.00,0.00,133223.00
19,Kindia,Coyah,0.00,0.00,259004.00,0.00,0.00
20,Kindia,Dubreka,0.00,0.00,324364.00,0.00,0.00
21,Kindia,Forecariah,286333.00,238611.00,238611.00,286333.00,47722.00
22,Kindia,Kindia,517843.00,431536.00,431536.00,517843.00,86307.00
23,Kindia,Telimele,335408.00,0.00,279506.00,335408.00,55901.00
24,Labe,Koubia,0.00,98082.00,98082.00,0.00,19616.00
25,Labe,Labe,0.00,0.00,312398.00,0.00,62480.00
26,Labe,Lelouma,192160.00,160134.00,160134.00,192160.00,32027.00
27,Labe,Mali,339259.00,282716.00,282716.00,0.00,56543.00
28,Labe,Tougue,146620.00,122183.00,0.00,0.00,24437.00
29,Mamou,Dalaba,157610.00,0.00,0.00,157610.00,26268.00
30,Mamou,Mamou,376106.00,313422.00,313422.00,0.00,62684.00
31,Mamou,Pita,327900.00,0.00,0.00,327900.00,54650.00
32,N'Zerekore,Beyla,384700.00,320583.00,320583.00,384700.00,64117.00
33,N'Zerekore,Gueckedou,0.00,285520.00,285520.00,342624.00,57104.00
34,N'Zerekore,Lola,0.00,168666.00,168666.00,202400.00,33733.00
35,N'Zerekore,Macenta,328478.00,273732.00,273732.00,328478.00,54746.00
36,N'Zerekore,N'Zerekore,0.00,389714.00,389714.00,467657.00,77943.00
37,N'Zerekore,Yomou,0.00,112366.00,112366.00,0.00,22473.00

* #### Extract target population for each disease code - 2022

In [17]:
disease_burdenData_2022['LF Target population 2022'] = (
                                                    np.select( condlist=[disease_burdenData_2022['LF Disease Burden Code2022'] == 0.0, disease_burdenData_2022['LF Disease Burden Code2022'] == 1], 
                                                    choicelist=[disease_burdenData_2022['Total population2022'] * 0, disease_burdenData_2022['Total population2022'] * 0.96], 
                                                    default=''))

disease_burdenData_2022['Oncho Target population 2022'] = (
                                                    np.select( condlist=[disease_burdenData_2022['Oncho Disease Burden Code2022'] == 0.0, disease_burdenData_2022['Oncho Disease Burden Code2022'] == 1], 
                                                    choicelist=[disease_burdenData_2022['Total population2022'] * 0, disease_burdenData_2022['Total population2022'] * 0.8], 
                                                    default=''))

disease_burdenData_2022['SCH Target population 2022'] = (
                                                    np.select( condlist=[disease_burdenData_2022['SCH Disease Burden Code2022'] == 0.0, disease_burdenData_2022['SCH Disease Burden Code2022'] == 1,disease_burdenData_2022['SCH Disease Burden Code2022'] == 2, disease_burdenData_2022['SCH Disease Burden Code2022'] == 3], 
                                                    choicelist=[disease_burdenData_2022['Total population2022'] * 0, disease_burdenData_2022['Total population2022'] * 0.8, disease_burdenData_2022['Total population2022'] * 0.8,disease_burdenData_2022['Total population2022'] * 0.8], 
                                                    default=''))

disease_burdenData_2022['STH Target population 2022'] = (
                                                    np.select( condlist=[disease_burdenData_2022['STH Disease Burden Code2022'] == 0.0, disease_burdenData_2022['STH Disease Burden Code2022'] == 1,disease_burdenData_2022['STH Disease Burden Code2022'] == 2, disease_burdenData_2022['STH Disease Burden Code2022'] == 3], 
                                                    choicelist=[disease_burdenData_2022['Total population2022'] * 0, disease_burdenData_2022['Total population2022'] * 0, disease_burdenData_2022['Total population2022'] * 0.96,disease_burdenData_2022['Total population2022'] * 0.96], 
                                                    default=''))

disease_burdenData_2022['Trachoma Target population 2022'] = (
                                                    np.select( condlist=[disease_burdenData_2022['Trachoma Disease Burden Code2022'] == 0.0, disease_burdenData_2022['Trachoma Disease Burden Code2022'] == 1,disease_burdenData_2022['Trachoma Disease Burden Code2022'] == 2], 
                                                    choicelist=[disease_burdenData_2022['Total population2022'] * 0, disease_burdenData_2022['Total population2022'] * 0.16, disease_burdenData_2022['Total population2022'] * 0.16], 
                                                    default=''))



disease_burdenData_2022 = disease_burdenData_2022[['Regions','Districts','LF Target population 2022','Oncho Target population 2022','SCH Target population 2022','STH Target population 2022','Trachoma Target population 2022']]
disease_burdenData_2022_numeric = disease_burdenData_2022[['LF Target population 2022','Oncho Target population 2022','SCH Target population 2022','STH Target population 2022','Trachoma Target population 2022']].apply(pd.to_numeric)
disease_burdenData_2022_numeric = disease_burdenData_2022_numeric.round()
disease_burdenData_2022_categorical = disease_burdenData_2022[['Regions','Districts']]
disease_burdenData_2022 = disease_burdenData_2022_categorical.join(disease_burdenData_2022_numeric)
disease_burdenData_2022 = disease_burdenData_2022.dropna()
disease_burdenData_2022

,Regions,Districts,LF Target population 2022,Oncho Target population 2022,SCH Target population 2022,STH Target population 2022,Trachoma Target population 2022
0,Boke,Boffa,0.00,0.00,0.00,0.00,0.00
1,Boke,Boke,0.00,0.00,0.00,0.00,0.00
2,Boke,Fria,0.00,0.00,0.00,0.00,0.00
3,Boke,Gaoual,234542.00,195452.00,195452.00,0.00,39090.00
4,Boke,Koundara,157355.00,131129.00,131129.00,0.00,26226.00
5,Conakry,Dixinn,0.00,0.00,0.00,0.00,0.00
6,Conakry,Kaloum,0.00,0.00,0.00,0.00,0.00
7,Conakry,Matam,0.00,0.00,0.00,0.00,0.00
8,Conakry,Matoto,0.00,0.00,672348.00,0.00,0.00
9,Conakry,Ratoma,0.00,0.00,658716.00,0.00,0.00
10,Faranah,Dabola,219457.00,182881.00,182881.00,0.00,36576.00
11,Faranah,Dinguiraye,237954.00,198295.00,198295.00,0.00,39659.00
12,Faranah,Faranah,339424.00,282854.00,282854.00,339424.00,56571.00
13,Faranah,Kissidougou,343196.00,0.00,285997.00,343196.00,57199.00
14,Kankan,Kankan,571338.00,0.00,476115.00,0.00,95223.00
15,Kankan,Kerouane,251454.00,0.00,209545.00,0.00,41909.00
16,Kankan,Kouroussa,325195.00,0.00,270996.00,0.00,54199.00
17,Kankan,Mandiana,407029.00,0.00,339191.00,407029.00,67838.00
18,Kankan,Siguiri,820918.00,0.00,684098.00,0.00,136820.00
19,Kindia,Coyah,0.00,0.00,265997.00,0.00,0.00
20,Kindia,Dubreka,0.00,0.00,333122.00,0.00,0.00
21,Kindia,Forecariah,294064.00,0.00,245054.00,294064.00,49011.00
22,Kindia,Kindia,531825.00,0.00,443187.00,531825.00,88637.00
23,Kindia,Telimele,0.00,0.00,287053.00,344463.00,57411.00
24,Labe,Koubia,0.00,0.00,100730.00,0.00,20146.00
25,Labe,Labe,0.00,0.00,320833.00,0.00,64167.00
26,Labe,Lelouma,197349.00,164458.00,164458.00,197349.00,32892.00
27,Labe,Mali,348420.00,290350.00,290350.00,0.00,58070.00
28,Labe,Tougue,150579.00,125482.00,0.00,0.00,25096.00
29,Mamou,Dalaba,161866.00,0.00,0.00,161866.00,26978.00
30,Mamou,Mamou,386261.00,321884.00,321884.00,0.00,64377.00
31,Mamou,Pita,336754.00,0.00,0.00,336754.00,56126.00
32,N'Zerekore,Beyla,395087.00,329239.00,329239.00,395087.00,65848.00
33,N'Zerekore,Gueckedou,0.00,293229.00,293229.00,351875.00,58646.00
34,N'Zerekore,Lola,0.00,173220.00,173220.00,207864.00,34644.00
35,N'Zerekore,Macenta,337347.00,281122.00,281122.00,337347.00,56224.00
36,N'Zerekore,N'Zerekore,0.00,400237.00,400237.00,480284.00,80047.00
37,N'Zerekore,Yomou,0.00,115399.00,115399.00,0.00,23080.00

* #### Extract target population for each disease code - 2023

In [18]:
disease_burdenData_2023['LF Target population 2023'] = (
                                                    np.select( condlist=[disease_burdenData_2023['LF Disease Burden Code2023'] == 0.0, disease_burdenData_2023['LF Disease Burden Code2023'] == 1], 
                                                    choicelist=[disease_burdenData_2023['Total population2023'] * 0, disease_burdenData_2023['Total population2023'] * 0.96], 
                                                    default=''))

disease_burdenData_2023['Oncho Target population 2023'] = (
                                                    np.select( condlist=[disease_burdenData_2023['Oncho Disease Burden Code2023'] == 0.0, disease_burdenData_2023['Oncho Disease Burden Code2023'] == 1], 
                                                    choicelist=[disease_burdenData_2023['Total population2023'] * 0, disease_burdenData_2023['Total population2023'] * 0.8], 
                                                    default=''))

disease_burdenData_2023['SCH Target population 2023'] = (
                                                    np.select( condlist=[disease_burdenData_2023['SCH Disease Burden Code2023'] == 0.0, disease_burdenData_2023['SCH Disease Burden Code2023'] == 1,disease_burdenData_2023['SCH Disease Burden Code2023'] == 2, disease_burdenData_2023['SCH Disease Burden Code2023'] == 3], 
                                                    choicelist=[disease_burdenData_2023['Total population2023'] * 0, disease_burdenData_2023['Total population2023'] * 0.8, disease_burdenData_2023['Total population2023'] * 0.8,disease_burdenData_2023['Total population2023'] * 0.8], 
                                                    default=''))

disease_burdenData_2023['STH Target population 2023'] = (
                                                    np.select( condlist=[disease_burdenData_2023['STH Disease Burden Code2023'] == 0.0, disease_burdenData_2023['STH Disease Burden Code2023'] == 1,disease_burdenData_2023['STH Disease Burden Code2023'] == 2, disease_burdenData_2023['STH Disease Burden Code2023'] == 3], 
                                                    choicelist=[disease_burdenData_2023['Total population2023'] * 0, disease_burdenData_2023['Total population2023'] * 0, disease_burdenData_2023['Total population2023'] * 0.96,disease_burdenData_2023['Total population2023'] * 0.96], 
                                                    default=''))

disease_burdenData_2023['Trachoma Target population 2023'] = (
                                                    np.select( condlist=[disease_burdenData_2023['Trachoma Disease Burden Code2023'] == 0.0, disease_burdenData_2023['Trachoma Disease Burden Code2023'] == 1,disease_burdenData_2023['Trachoma Disease Burden Code2023'] == 2], 
                                                    choicelist=[disease_burdenData_2023['Total population2023'] * 0, disease_burdenData_2023['Total population2023'] * 0.16, disease_burdenData_2023['Total population2023'] * 0.16], 
                                                    default=''))

disease_burdenData_2023 = disease_burdenData_2023[['Regions','Districts','LF Target population 2023','Oncho Target population 2023','SCH Target population 2023','STH Target population 2023','Trachoma Target population 2023']]
disease_burdenData_2023_numeric = disease_burdenData_2023[['LF Target population 2023','Oncho Target population 2023','SCH Target population 2023','STH Target population 2023','Trachoma Target population 2023']].apply(pd.to_numeric)
disease_burdenData_2023_numeric = disease_burdenData_2023_numeric.round()
disease_burdenData_2023_categorical = disease_burdenData_2023[['Regions','Districts']]
disease_burdenData_2023 = disease_burdenData_2023_categorical.join(disease_burdenData_2023_numeric)
disease_burdenData_2023 = disease_burdenData_2023.dropna()
disease_burdenData_2023

,Regions,Districts,LF Target population 2023,Oncho Target population 2023,SCH Target population 2023,STH Target population 2023,Trachoma Target population 2023
0,Boke,Boffa,0.00,0.00,0.00,0.00,0.00
1,Boke,Boke,0.00,0.00,0.00,0.00,0.00
2,Boke,Fria,0.00,0.00,0.00,0.00,0.00
3,Boke,Gaoual,240876.00,200730.00,200730.00,0.00,40146.00
4,Boke,Koundara,161604.00,134670.00,134670.00,0.00,26934.00
5,Conakry,Dixinn,0.00,0.00,0.00,0.00,0.00
6,Conakry,Kaloum,0.00,0.00,0.00,0.00,0.00
7,Conakry,Matam,0.00,0.00,0.00,0.00,0.00
8,Conakry,Matoto,0.00,0.00,690502.00,0.00,0.00
9,Conakry,Ratoma,0.00,0.00,676502.00,0.00,0.00
10,Faranah,Dabola,225382.00,187818.00,187818.00,0.00,37564.00
11,Faranah,Dinguiraye,244379.00,203649.00,203649.00,0.00,40730.00
12,Faranah,Faranah,348589.00,290491.00,290491.00,348589.00,58098.00
13,Faranah,Kissidougou,352462.00,0.00,293718.00,352462.00,58744.00
14,Kankan,Kankan,0.00,0.00,488970.00,0.00,97794.00
15,Kankan,Kerouane,258243.00,0.00,215202.00,0.00,43040.00
16,Kankan,Kouroussa,333975.00,0.00,278313.00,0.00,55663.00
17,Kankan,Mandiana,0.00,0.00,348349.00,418019.00,69670.00
18,Kankan,Siguiri,843084.00,0.00,702570.00,0.00,140514.00
19,Kindia,Coyah,0.00,0.00,273179.00,0.00,0.00
20,Kindia,Dubreka,0.00,0.00,342116.00,0.00,0.00
21,Kindia,Forecariah,302004.00,0.00,251670.00,302004.00,50334.00
22,Kindia,Kindia,546184.00,0.00,455154.00,546184.00,91031.00
23,Kindia,Telimele,0.00,0.00,294803.00,353764.00,58961.00
24,Labe,Koubia,0.00,0.00,103450.00,0.00,20690.00
25,Labe,Labe,0.00,0.00,329496.00,0.00,65899.00
26,Labe,Lelouma,0.00,168898.00,168898.00,202677.00,33780.00
27,Labe,Mali,357827.00,298189.00,298189.00,0.00,59638.00
28,Labe,Tougue,154644.00,128870.00,0.00,0.00,25774.00
29,Mamou,Dalaba,166236.00,0.00,0.00,166236.00,27706.00
30,Mamou,Mamou,396690.00,330575.00,330575.00,0.00,66115.00
31,Mamou,Pita,345846.00,0.00,0.00,345846.00,57641.00
32,N'Zerekore,Beyla,405754.00,338128.00,338128.00,405754.00,67626.00
33,N'Zerekore,Gueckedou,0.00,301146.00,301146.00,361376.00,60229.00
34,N'Zerekore,Lola,0.00,177898.00,177898.00,213477.00,35580.00
35,N'Zerekore,Macenta,0.00,288713.00,288713.00,346455.00,57743.00
36,N'Zerekore,N'Zerekore,0.00,411043.00,411043.00,493252.00,82209.00
37,N'Zerekore,Yomou,0.00,118515.00,118515.00,0.00,23703.00

* #### Extract target population for each disease code - 2024

In [19]:
disease_burdenData_2024['LF Target population 2024'] = (
                                                    np.select( condlist=[disease_burdenData_2024['LF Disease Burden Code2024'] == 0.0, disease_burdenData_2024['LF Disease Burden Code2024'] == 1], 
                                                    choicelist=[disease_burdenData_2024['Total population2024'] * 0, disease_burdenData_2024['Total population2024'] * 0.96], 
                                                    default=''))

disease_burdenData_2024['Oncho Target population 2024'] = (
                                                    np.select( condlist=[disease_burdenData_2024['Oncho Disease Burden Code2024'] == 0.0, disease_burdenData_2024['Oncho Disease Burden Code2024'] == 1], 
                                                    choicelist=[disease_burdenData_2024['Total population2024'] * 0, disease_burdenData_2024['Total population2024'] * 0.8], 
                                                    default=''))

disease_burdenData_2024['SCH Target population 2024'] = (
                                                    np.select( condlist=[disease_burdenData_2024['SCH Disease Burden Code2024'] == 0.0, disease_burdenData_2024['SCH Disease Burden Code2024'] == 1,disease_burdenData_2024['SCH Disease Burden Code2024'] == 2, disease_burdenData_2024['SCH Disease Burden Code2024'] == 3], 
                                                    choicelist=[disease_burdenData_2024['Total population2024'] * 0, disease_burdenData_2024['Total population2024'] * 0.8, disease_burdenData_2024['Total population2024'] * 0.8,disease_burdenData_2024['Total population2024'] * 0.8], 
                                                    default=''))

disease_burdenData_2024['STH Target population 2024'] = (
                                                    np.select( condlist=[disease_burdenData_2024['STH Disease Burden Code2024'] == 0.0, disease_burdenData_2024['STH Disease Burden Code2024'] == 1,disease_burdenData_2024['STH Disease Burden Code2024'] == 2, disease_burdenData_2024['STH Disease Burden Code2024'] == 3], 
                                                    choicelist=[disease_burdenData_2024['Total population2024'] * 0, disease_burdenData_2024['Total population2024'] * 0, disease_burdenData_2024['Total population2024'] * 0.96,disease_burdenData_2024['Total population2024'] * 0.96], 
                                                    default=''))

disease_burdenData_2024['Trachoma Target population 2024'] = (
                                                    np.select( condlist=[disease_burdenData_2024['Trachoma Disease Burden Code2024'] == 0.0, disease_burdenData_2024['Trachoma Disease Burden Code2024'] == 1,disease_burdenData_2024['Trachoma Disease Burden Code2024'] == 2], 
                                                    choicelist=[disease_burdenData_2024['Total population2024'] * 0, disease_burdenData_2024['Total population2024'] * 0.16, disease_burdenData_2024['Total population2024'] * 0.16], 
                                                    default=''))


disease_burdenData_2024 = disease_burdenData_2024[['Regions','Districts','LF Target population 2024','Oncho Target population 2024','SCH Target population 2024','STH Target population 2024','Trachoma Target population 2024']]
disease_burdenData_2024_numeric = disease_burdenData_2024[['LF Target population 2024','Oncho Target population 2024','SCH Target population 2024','STH Target population 2024','Trachoma Target population 2024']].apply(pd.to_numeric)
disease_burdenData_2024_numeric = disease_burdenData_2024_numeric.round()
disease_burdenData_2024_categorical = disease_burdenData_2024[['Regions','Districts']]
disease_burdenData_2024 = disease_burdenData_2024_categorical.join(disease_burdenData_2024_numeric)
disease_burdenData_2024 = disease_burdenData_2024.dropna()
disease_burdenData_2024

,Regions,Districts,LF Target population 2024,Oncho Target population 2024,SCH Target population 2024,STH Target population 2024,Trachoma Target population 2024
0,Boke,Boffa,0.00,0.00,0.00,0.00,0.00
1,Boke,Boke,0.00,0.00,0.00,0.00,0.00
2,Boke,Fria,0.00,0.00,0.00,0.00,0.00
3,Boke,Gaoual,247379.00,206149.00,206149.00,0.00,41230.00
4,Boke,Koundara,165967.00,138306.00,138306.00,0.00,27661.00
5,Conakry,Dixinn,0.00,0.00,0.00,0.00,0.00
6,Conakry,Kaloum,0.00,0.00,0.00,0.00,0.00
7,Conakry,Matam,0.00,0.00,0.00,0.00,0.00
8,Conakry,Matoto,0.00,0.00,709145.00,0.00,0.00
9,Conakry,Ratoma,0.00,0.00,694767.00,0.00,0.00
10,Faranah,Dabola,231468.00,0.00,0.00,0.00,38578.00
11,Faranah,Dinguiraye,0.00,209147.00,209147.00,0.00,41829.00
12,Faranah,Faranah,358001.00,298334.00,298334.00,358001.00,59667.00
13,Faranah,Kissidougou,361979.00,0.00,301649.00,361979.00,60330.00
14,Kankan,Kankan,602607.00,0.00,502173.00,0.00,100435.00
15,Kankan,Kerouane,265215.00,0.00,221013.00,0.00,44203.00
16,Kankan,Kouroussa,342993.00,0.00,285827.00,0.00,57165.00
17,Kankan,Mandiana,429305.00,0.00,0.00,0.00,0.00
18,Kankan,Siguiri,865846.00,0.00,721538.00,0.00,144308.00
19,Kindia,Coyah,0.00,0.00,280555.00,0.00,0.00
20,Kindia,Dubreka,0.00,0.00,351354.00,0.00,0.00
21,Kindia,Forecariah,0.00,0.00,258466.00,310159.00,51693.00
22,Kindia,Kindia,560931.00,0.00,467442.00,560931.00,0.00
23,Kindia,Telimele,0.00,0.00,302763.00,363316.00,60553.00
24,Labe,Koubia,0.00,0.00,106242.00,0.00,21248.00
25,Labe,Labe,0.00,0.00,0.00,0.00,0.00
26,Labe,Lelouma,208149.00,173458.00,173458.00,208149.00,34692.00
27,Labe,Mali,367488.00,306240.00,306240.00,0.00,61248.00
28,Labe,Tougue,158820.00,132350.00,0.00,0.00,0.00
29,Mamou,Dalaba,0.00,0.00,0.00,170724.00,28454.00
30,Mamou,Mamou,0.00,339500.00,339500.00,0.00,67900.00
31,Mamou,Pita,355184.00,0.00,0.00,355184.00,0.00
32,N'Zerekore,Beyla,416709.00,347258.00,347258.00,416709.00,69452.00
33,N'Zerekore,Gueckedou,0.00,309277.00,309277.00,371132.00,61855.00
34,N'Zerekore,Lola,0.00,0.00,182701.00,219241.00,36540.00
35,N'Zerekore,Macenta,355810.00,0.00,296508.00,355810.00,0.00
36,N'Zerekore,N'Zerekore,0.00,422142.00,422142.00,0.00,84428.00
37,N'Zerekore,Yomou,0.00,121715.00,121715.00,0.00,0.00

* ### Extract target population for each disease code - 2025

In [20]:
disease_burdenData_2025['LF Target population 2025'] = (
                                                    np.select( condlist=[disease_burdenData_2025['LF Disease Burden Code2025'] == 0.0, disease_burdenData_2025['LF Disease Burden Code2025'] == 1], 
                                                    choicelist=[disease_burdenData_2025['Total population2025'] * 0, disease_burdenData_2025['Total population2025'] * 0.96], 
                                                    default=''))

disease_burdenData_2025['Oncho Target population 2025'] = (
                                                    np.select( condlist=[disease_burdenData_2025['Oncho Disease Burden Code2025'] == 0.0, disease_burdenData_2025['Oncho Disease Burden Code2025'] == 1], 
                                                    choicelist=[disease_burdenData_2025['Total population2025'] * 0, disease_burdenData_2025['Total population2025'] * 0.8], 
                                                    default=''))

disease_burdenData_2025['SCH Target population 2025'] = (
                                                    np.select( condlist=[disease_burdenData_2025['SCH Disease Burden Code2025'] == 0.0, disease_burdenData_2025['SCH Disease Burden Code2025'] == 1,disease_burdenData_2025['SCH Disease Burden Code2025'] == 2, disease_burdenData_2025['SCH Disease Burden Code2025'] == 3], 
                                                    choicelist=[disease_burdenData_2025['Total population2025'] * 0, disease_burdenData_2025['Total population2025'] * 0.8, disease_burdenData_2025['Total population2025'] * 0.8,disease_burdenData_2025['Total population2025'] * 0.8], 
                                                    default=''))

disease_burdenData_2025['STH Target population 2025'] = (
                                                    np.select( condlist=[disease_burdenData_2025['STH Disease Burden Code2025'] == 0.0, disease_burdenData_2025['STH Disease Burden Code2025'] == 1,disease_burdenData_2025['STH Disease Burden Code2025'] == 2, disease_burdenData_2025['STH Disease Burden Code2025'] == 3], 
                                                    choicelist=[disease_burdenData_2025['Total population2025'] * 0, disease_burdenData_2025['Total population2025'] * 0, disease_burdenData_2025['Total population2025'] * 0.96,disease_burdenData_2025['Total population2025'] * 0.96], 
                                                    default=''))

disease_burdenData_2025['Trachoma Target population 2025'] = (
                                                    np.select( condlist=[disease_burdenData_2025['Trachoma Disease Burden Code2025'] == 0.0, disease_burdenData_2025['Trachoma Disease Burden Code2025'] == 1,disease_burdenData_2025['Trachoma Disease Burden Code2025'] == 2], 
                                                    choicelist=[disease_burdenData_2025['Total population2025'] * 0, disease_burdenData_2025['Total population2025'] * 0.16, disease_burdenData_2025['Total population2025'] * 0.16], 
                                                    default=''))

disease_burdenData_2025 = disease_burdenData_2025[['Regions','Districts','LF Target population 2025','Oncho Target population 2025','SCH Target population 2025','STH Target population 2025','Trachoma Target population 2025']]
disease_burdenData_2025_numeric = disease_burdenData_2025[['LF Target population 2025','Oncho Target population 2025','SCH Target population 2025','STH Target population 2025','Trachoma Target population 2025']].apply(pd.to_numeric)
disease_burdenData_2025_numeric = disease_burdenData_2025_numeric.round()
disease_burdenData_2025_categorical = disease_burdenData_2025[['Regions','Districts']]
disease_burdenData_2025 = disease_burdenData_2025_categorical.join(disease_burdenData_2025_numeric)
disease_burdenData_2025 = disease_burdenData_2025.dropna()
disease_burdenData_2025

,Regions,Districts,LF Target population 2025,Oncho Target population 2025,SCH Target population 2025,STH Target population 2025,Trachoma Target population 2025
0,Boke,Boffa,0.00,0.00,0.00,0.00,0.00
1,Boke,Boke,0.00,0.00,0.00,0.00,0.00
2,Boke,Fria,0.00,0.00,0.00,0.00,0.00
3,Boke,Gaoual,0.00,211715.00,211715.00,0.00,42343.00
4,Boke,Koundara,170448.00,0.00,142040.00,0.00,0.00
5,Conakry,Dixinn,0.00,0.00,0.00,0.00,0.00
6,Conakry,Kaloum,0.00,0.00,0.00,0.00,0.00
7,Conakry,Matam,0.00,0.00,0.00,0.00,0.00
8,Conakry,Matoto,0.00,0.00,728292.00,0.00,0.00
9,Conakry,Ratoma,0.00,0.00,713526.00,0.00,0.00
10,Faranah,Dabola,237717.00,0.00,0.00,0.00,39620.00
11,Faranah,Dinguiraye,0.00,214794.00,214794.00,0.00,42959.00
12,Faranah,Faranah,0.00,306390.00,306390.00,0.00,61278.00
13,Faranah,Kissidougou,371752.00,0.00,309794.00,371752.00,61959.00
14,Kankan,Kankan,618877.00,0.00,0.00,0.00,103146.00
15,Kankan,Kerouane,0.00,0.00,226981.00,0.00,0.00
16,Kankan,Kouroussa,352253.00,0.00,293544.00,0.00,58709.00
17,Kankan,Mandiana,0.00,0.00,0.00,0.00,0.00
18,Kankan,Siguiri,889224.00,0.00,741020.00,0.00,148204.00
19,Kindia,Coyah,0.00,0.00,288130.00,0.00,0.00
20,Kindia,Dubreka,0.00,0.00,360840.00,0.00,0.00
21,Kindia,Forecariah,0.00,0.00,265444.00,318533.00,0.00
22,Kindia,Kindia,0.00,0.00,480064.00,0.00,0.00
23,Kindia,Telimele,0.00,0.00,310938.00,373125.00,62188.00
24,Labe,Koubia,0.00,0.00,109111.00,0.00,21822.00
25,Labe,Labe,0.00,0.00,0.00,0.00,0.00
26,Labe,Lelouma,213769.00,178141.00,178141.00,213769.00,0.00
27,Labe,Mali,0.00,314508.00,314508.00,0.00,0.00
28,Labe,Tougue,163108.00,0.00,0.00,0.00,0.00
29,Mamou,Dalaba,0.00,0.00,0.00,0.00,29222.00
30,Mamou,Mamou,418401.00,348667.00,348667.00,0.00,69733.00
31,Mamou,Pita,364774.00,0.00,0.00,364774.00,0.00
32,N'Zerekore,Beyla,427960.00,356634.00,356634.00,0.00,0.00
33,N'Zerekore,Gueckedou,0.00,317628.00,317628.00,0.00,63526.00
34,N'Zerekore,Lola,0.00,0.00,187634.00,225160.00,37527.00
35,N'Zerekore,Macenta,0.00,0.00,304514.00,0.00,0.00
36,N'Zerekore,N'Zerekore,0.00,433539.00,433539.00,0.00,0.00
37,N'Zerekore,Yomou,0.00,125002.00,125002.00,0.00,0.00

* #### Extract target population for each disease code - 2026

In [21]:
disease_burdenData_2026['LF Target population 2026'] = (
                                                    np.select( condlist=[disease_burdenData_2026['LF Disease Burden Code2026'] == 0.0, disease_burdenData_2026['LF Disease Burden Code2026'] == 1], 
                                                    choicelist=[disease_burdenData_2026['Total population2026'] * 0, disease_burdenData_2026['Total population2026'] * 0.96], 
                                                    default=''))

disease_burdenData_2026['Oncho Target population 2026'] = (
                                                    np.select( condlist=[disease_burdenData_2026['Oncho Disease Burden Code2026'] == 0.0, disease_burdenData_2026['Oncho Disease Burden Code2026'] == 1], 
                                                    choicelist=[disease_burdenData_2026['Total population2026'] * 0, disease_burdenData_2026['Total population2026'] * 0.8], 
                                                    default=''))

disease_burdenData_2026['SCH Target population 2026'] = (
                                                    np.select( condlist=[disease_burdenData_2026['SCH Disease Burden Code2026'] == 0.0, disease_burdenData_2026['SCH Disease Burden Code2026'] == 1,disease_burdenData_2026['SCH Disease Burden Code2026'] == 2, disease_burdenData_2026['SCH Disease Burden Code2026'] == 3], 
                                                    choicelist=[disease_burdenData_2026['Total population2026'] * 0, disease_burdenData_2026['Total population2026'] * 0.8, disease_burdenData_2026['Total population2026'] * 0.8,disease_burdenData_2026['Total population2026'] * 0.8], 
                                                    default=''))

disease_burdenData_2026['STH Target population 2026'] = (
                                                    np.select( condlist=[disease_burdenData_2026['STH Disease Burden Code2026'] == 0.0, disease_burdenData_2026['STH Disease Burden Code2026'] == 1,disease_burdenData_2026['STH Disease Burden Code2026'] == 2, disease_burdenData_2026['STH Disease Burden Code2026'] == 3], 
                                                    choicelist=[disease_burdenData_2026['Total population2026'] * 0, disease_burdenData_2026['Total population2026'] * 0, disease_burdenData_2026['Total population2026'] * 0.96,disease_burdenData_2026['Total population2026'] * 0.96], 
                                                    default=''))

disease_burdenData_2026['Trachoma Target population 2026'] = (
                                                    np.select( condlist=[disease_burdenData_2026['Trachoma Disease Burden Code2026'] == 0.0, disease_burdenData_2026['Trachoma Disease Burden Code2026'] == 1,disease_burdenData_2026['Trachoma Disease Burden Code2026'] == 2], 
                                                    choicelist=[disease_burdenData_2026['Total population2026'] * 0, disease_burdenData_2026['Total population2026'] * 0.16, disease_burdenData_2026['Total population2026'] * 0.16], 
                                                    default=''))

disease_burdenData_2026 = disease_burdenData_2026[['Regions','Districts','LF Target population 2026','Oncho Target population 2026','SCH Target population 2026','STH Target population 2026','Trachoma Target population 2026']]
disease_burdenData_2026_numeric = disease_burdenData_2026[['LF Target population 2026','Oncho Target population 2026','SCH Target population 2026','STH Target population 2026','Trachoma Target population 2026']].apply(pd.to_numeric)
disease_burdenData_2026_numeric = disease_burdenData_2026_numeric.round()
disease_burdenData_2026_categorical = disease_burdenData_2026[['Regions','Districts']]
disease_burdenData_2026 = disease_burdenData_2026_categorical.join(disease_burdenData_2026_numeric)
disease_burdenData_2026 = disease_burdenData_2026.dropna()
disease_burdenData_2026

,Regions,Districts,LF Target population 2026,Oncho Target population 2026,SCH Target population 2026,STH Target population 2026,Trachoma Target population 2026
0,Boke,Boffa,0.00,0.00,0.00,0.00,0.00
1,Boke,Boke,0.00,0.00,0.00,0.00,0.00
2,Boke,Fria,0.00,0.00,0.00,0.00,0.00
3,Boke,Gaoual,0.00,0.00,0.00,0.00,0.00
4,Boke,Koundara,0.00,0.00,142594.00,0.00,0.00
5,Conakry,Dixinn,0.00,0.00,0.00,0.00,0.00
6,Conakry,Kaloum,0.00,0.00,0.00,0.00,0.00
7,Conakry,Matam,0.00,0.00,0.00,0.00,0.00
8,Conakry,Matoto,0.00,0.00,731133.00,0.00,0.00
9,Conakry,Ratoma,0.00,0.00,716309.00,0.00,0.00
10,Faranah,Dabola,0.00,0.00,0.00,0.00,0.00
11,Faranah,Dinguiraye,0.00,0.00,215632.00,0.00,0.00
12,Faranah,Faranah,0.00,0.00,307584.00,0.00,0.00
13,Faranah,Kissidougou,0.00,0.00,311002.00,0.00,0.00
14,Kankan,Kankan,0.00,0.00,0.00,0.00,0.00
15,Kankan,Kerouane,0.00,0.00,227866.00,0.00,0.00
16,Kankan,Kouroussa,0.00,0.00,294689.00,0.00,0.00
17,Kankan,Mandiana,0.00,0.00,0.00,0.00,0.00
18,Kankan,Siguiri,0.00,0.00,743911.00,0.00,0.00
19,Kindia,Coyah,0.00,0.00,289254.00,0.00,0.00
20,Kindia,Dubreka,0.00,0.00,0.00,0.00,0.00
21,Kindia,Forecariah,0.00,0.00,266479.00,319775.00,0.00
22,Kindia,Kindia,0.00,0.00,481936.00,0.00,0.00
23,Kindia,Telimele,0.00,0.00,312151.00,0.00,0.00
24,Labe,Koubia,0.00,0.00,109537.00,0.00,0.00
25,Labe,Labe,0.00,0.00,0.00,0.00,0.00
26,Labe,Lelouma,0.00,0.00,0.00,0.00,0.00
27,Labe,Mali,0.00,0.00,0.00,0.00,0.00
28,Labe,Tougue,0.00,0.00,0.00,0.00,0.00
29,Mamou,Dalaba,0.00,0.00,0.00,0.00,0.00
30,Mamou,Mamou,0.00,0.00,0.00,0.00,0.00
31,Mamou,Pita,0.00,0.00,0.00,366197.00,0.00
32,N'Zerekore,Beyla,0.00,0.00,358025.00,0.00,0.00
33,N'Zerekore,Gueckedou,0.00,0.00,0.00,0.00,0.00
34,N'Zerekore,Lola,0.00,0.00,188365.00,226038.00,0.00
35,N'Zerekore,Macenta,0.00,0.00,0.00,0.00,0.00
36,N'Zerekore,N'Zerekore,0.00,0.00,0.00,0.00,0.00
37,N'Zerekore,Yomou,0.00,0.00,0.00,0.00,0.00

### Number of drug units required for each year (2021 to 2026)
#### Assumptions made:
* On the given dataset, the assuption was made that the number of drug units is for the year 2021

* Estimating number of drug units for each year is by using the proportions from the past years

    
### <Center> Number of drug units required (IVM) (2022) = $\left\{ \frac { ( Number of IVM drug units for the year 2021)* ( Estimated Target population of the disease (Oncho) (2022) + Estimated Target population of the disease (LF) (2022))) ) }{Total target population of the disease (Oncho) (2021) + Total target population of the disease (LF) (2021)} \right\}$

In [22]:
## Number of drugs required for each year

IVM_Ivermectin_2021 = drug_Data.iloc[1][2]
IVM_Ivermectin_2022 = ( IVM_Ivermectin_2021 * ( disease_burdenData_2022['Oncho Target population 2022'].sum() + disease_burdenData_2022['LF Target population 2022'].sum() )) / ( disease_burdenData_2021['LF Target population 2021'].sum() + disease_burdenData_2021['Oncho Target population 2021'].sum())
IVM_Ivermectin_2023 = ( IVM_Ivermectin_2022 * ( disease_burdenData_2023['Oncho Target population 2023'].sum() + disease_burdenData_2023['LF Target population 2023'].sum() )) / ( disease_burdenData_2022['LF Target population 2022'].sum() + disease_burdenData_2022['Oncho Target population 2022'].sum())
IVM_Ivermectin_2024 = ( IVM_Ivermectin_2023 * ( disease_burdenData_2024['Oncho Target population 2024'].sum() + disease_burdenData_2024['LF Target population 2024'].sum() )) / ( disease_burdenData_2023['LF Target population 2023'].sum() + disease_burdenData_2023['Oncho Target population 2023'].sum())
IVM_Ivermectin_2025 = ( IVM_Ivermectin_2024 * ( disease_burdenData_2025['Oncho Target population 2025'].sum() + disease_burdenData_2025['LF Target population 2025'].sum() )) / ( disease_burdenData_2024['LF Target population 2024'].sum() + disease_burdenData_2024['Oncho Target population 2024'].sum())
IVM_Ivermectin_2026 = ( IVM_Ivermectin_2025 * ( disease_burdenData_2026['Oncho Target population 2026'].sum() + disease_burdenData_2026['LF Target population 2026'].sum() )) / ( disease_burdenData_2025['LF Target population 2025'].sum() + disease_burdenData_2025['Oncho Target population 2025'].sum())

ALB_Albendazole_with_IVM_or_DEC_2021 = drug_Data.iloc[2][2]
ALB_Albendazole_with_IVM_or_DEC_2022 = ( ALB_Albendazole_with_IVM_or_DEC_2021 * disease_burdenData_2022['LF Target population 2022'].sum() ) / disease_burdenData_2021['LF Target population 2021'].sum()
ALB_Albendazole_with_IVM_or_DEC_2023 = ( ALB_Albendazole_with_IVM_or_DEC_2022 * disease_burdenData_2023['LF Target population 2023'].sum() ) / disease_burdenData_2022['LF Target population 2022'].sum()
ALB_Albendazole_with_IVM_or_DEC_2024 = ( ALB_Albendazole_with_IVM_or_DEC_2023 * disease_burdenData_2024['LF Target population 2024'].sum() ) / disease_burdenData_2023['LF Target population 2023'].sum()
ALB_Albendazole_with_IVM_or_DEC_2025 = ( ALB_Albendazole_with_IVM_or_DEC_2024 * disease_burdenData_2025['LF Target population 2025'].sum() ) / disease_burdenData_2024['LF Target population 2024'].sum()
ALB_Albendazole_with_IVM_or_DEC_2026 = ( ALB_Albendazole_with_IVM_or_DEC_2025 * disease_burdenData_2026['LF Target population 2026'].sum() ) / disease_burdenData_2025['LF Target population 2025'].sum()

# Number of drug units for each year

ALB_or_MBD_alone_or_with_PZQ_2021 = drug_Data.iloc[3][2]
ALB_or_MBD_alone_or_with_PZQ_2022 = ( ALB_or_MBD_alone_or_with_PZQ_2021 * disease_burdenData_2022['STH Target population 2022'].sum() ) / disease_burdenData_2021['STH Target population 2021'].sum()
ALB_or_MBD_alone_or_with_PZQ_2023 = ( ALB_or_MBD_alone_or_with_PZQ_2022 * disease_burdenData_2023['STH Target population 2023'].sum() ) / disease_burdenData_2022['STH Target population 2022'].sum()
ALB_or_MBD_alone_or_with_PZQ_2024 = ( ALB_or_MBD_alone_or_with_PZQ_2023 * disease_burdenData_2024['STH Target population 2024'].sum() ) / disease_burdenData_2023['STH Target population 2023'].sum()
ALB_or_MBD_alone_or_with_PZQ_2025 = ( ALB_or_MBD_alone_or_with_PZQ_2024 * disease_burdenData_2025['STH Target population 2025'].sum() ) / disease_burdenData_2024['STH Target population 2024'].sum()
ALB_or_MBD_alone_or_with_PZQ_2026 = ( ALB_or_MBD_alone_or_with_PZQ_2025 * disease_burdenData_2026['STH Target population 2026'].sum() ) / disease_burdenData_2025['STH Target population 2025'].sum()

# Number of drug units for each year

PZQ_Praziquantel_2021 = drug_Data.iloc[4][2]
PZQ_Praziquantel_2022 = ( PZQ_Praziquantel_2021 * disease_burdenData_2022['SCH Target population 2022'].sum() ) / disease_burdenData_2021['SCH Target population 2021'].sum()
PZQ_Praziquantel_2023 = ( PZQ_Praziquantel_2022 * disease_burdenData_2023['SCH Target population 2023'].sum() ) / disease_burdenData_2022['SCH Target population 2022'].sum()
PZQ_Praziquantel_2024 = ( PZQ_Praziquantel_2023 * disease_burdenData_2024['SCH Target population 2024'].sum() ) / disease_burdenData_2023['SCH Target population 2023'].sum()
PZQ_Praziquantel_2025 = ( PZQ_Praziquantel_2024 * disease_burdenData_2025['SCH Target population 2025'].sum() ) / disease_burdenData_2024['SCH Target population 2024'].sum()
PZQ_Praziquantel_2026 = ( PZQ_Praziquantel_2025 * disease_burdenData_2026['SCH Target population 2026'].sum() ) / disease_burdenData_2025['SCH Target population 2025'].sum()

# Number of drug units for each year
TEO_2021 = drug_Data.iloc[5][2]
TEO_2022 = ( TEO_2021 * disease_burdenData_2022['Trachoma Target population 2022'].sum() ) / disease_burdenData_2021['Trachoma Target population 2021'].sum()
TEO_2023 = ( TEO_2022 * disease_burdenData_2023['Trachoma Target population 2023'].sum() ) / disease_burdenData_2022['Trachoma Target population 2022'].sum()
TEO_2024 = ( TEO_2023 * disease_burdenData_2024['Trachoma Target population 2024'].sum() ) / disease_burdenData_2023['Trachoma Target population 2023'].sum()
TEO_2025 = ( TEO_2024 * disease_burdenData_2025['Trachoma Target population 2025'].sum() ) / disease_burdenData_2024['Trachoma Target population 2024'].sum()
TEO_2026 = ( TEO_2024 * disease_burdenData_2026['Trachoma Target population 2026'].sum() ) / disease_burdenData_2025['Trachoma Target population 2025'].sum()

#### Number of districts affected by the disease from 2021 to 2025

In [23]:
disease_burden_data_2021_2025 = disease_burdenData_2021.merge(disease_burdenData_2022).merge(disease_burdenData_2023).merge(disease_burdenData_2024).merge(disease_burdenData_2025).merge(disease_burdenData_2026)

disease_burden_data_2021_2025

,Regions,Districts,LF Target population 2021,Oncho Target population 2021,SCH Target population 2021,STH Target population 2021,Trachoma Target population 2021,LF Target population 2022,Oncho Target population 2022,SCH Target population 2022,STH Target population 2022,Trachoma Target population 2022,LF Target population 2023,Oncho Target population 2023,SCH Target population 2023,STH Target population 2023,Trachoma Target population 2023,LF Target population 2024,Oncho Target population 2024,SCH Target population 2024,STH Target population 2024,Trachoma Target population 2024,LF Target population 2025,Oncho Target population 2025,SCH Target population 2025,STH Target population 2025,Trachoma Target population 2025,LF Target population 2026,Oncho Target population 2026,SCH Target population 2026,STH Target population 2026,Trachoma Target population 2026
0,Boke,Boffa,0.00,0.00,0.00,0.00,41774.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Boke,Boke,0.00,0.00,442163.00,0.00,88433.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Boke,Fria,0.00,0.00,95036.00,0.00,19007.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Boke,Gaoual,228376.00,190314.00,190314.00,0.00,38063.00,234542.00,195452.00,195452.00,0.00,39090.00,240876.00,200730.00,200730.00,0.00,40146.00,247379.00,206149.00,206149.00,0.00,41230.00,0.00,211715.00,211715.00,0.00,42343.00,0.00,0.00,0.00,0.00,0.00
4,Boke,Koundara,153218.00,127682.00,127682.00,0.00,25536.00,157355.00,131129.00,131129.00,0.00,26226.00,161604.00,134670.00,134670.00,0.00,26934.00,165967.00,138306.00,138306.00,0.00,27661.00,170448.00,0.00,142040.00,0.00,0.00,0.00,0.00,142594.00,0.00,0.00
5,Conakry,Dixinn,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,Conakry,Kaloum,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,Conakry,Matam,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,Conakry,Matoto,0.00,0.00,654672.00,0.00,0.00,0.00,0.00,672348.00,0.00,0.00,0.00,0.00,690502.00,0.00,0.00,0.00,0.00,709145.00,0.00,0.00,0.00,0.00,728292.00,0.00,0.00,0.00,0.00,731133.00,0.00,0.00
9,Conakry,Ratoma,0.00,0.00,641398.00,0.00,0.00,0.00,0.00,658716.00,0.00,0.00,0.00,0.00,676502.00,0.00,0.00,0.00,0.00,694767.00,0.00,0.00,0.00,0.00,713526.00,0.00,0.00,0.00,0.00,716309.00,0.00,0.00
10,Faranah,Dabola,0.00,178073.00,178073.00,0.00,35615.00,219457.00,182881.00,182881.00,0.00,36576.00,225382.00,187818.00,187818.00,0.00,37564.00,231468.00,0.00,0.00,0.00,38578.00,237717.00,0.00,0.00,0.00,39620.00,0.00,0.00,0.00,0.00,0.00
11,Faranah,Dinguiraye,231698.00,193082.00,193082.00,0.00,38616.00,237954.00,198295.00,198295.00,0.00,39659.00,244379.00,203649.00,203649.00,0.00,40730.00,0.00,209147.00,209147.00,0.00,41829.00,0.00,214794.00,214794.00,0.00,42959.00,0.00,0.00,215632.00,0.00,0.00
12,Faranah,Faranah,330501.00,275418.00,275418.00,330501.00,55084.00,339424.00,282854.00,282854.00,339424.00,56571.00,348589.00,290491.00,290491.00,348589.00,58098.00,358001.00,298334.00,298334.00,358001.00,59667.00,0.00,306390.00,306390.00,0.00,61278.00,0.00,0.00,307584.00,0.00,0.00
13,Faranah,Kissidougou,334173.00,278478.00,278478.00,334173.00,55696.00,343196.00,0.00,285997.00,343196.00,57199.00,352462.00,0.00,293718.00,352462.00,58744.00,361979.00,0.00,301649.00,361979.00,60330.00,371752.00,0.00,309794.00,371752.00,61959.00,0.00,0.00,311002.00,0.00,0.00
14,Kankan,Kankan,556318.00,463598.00,463598.00,556318.00,92720.00,571338.00,0.00,476115.00,0.00,95223.00,0.00,0.00,488970.00,0.00,97794.00,602607.00,0.00,502173.00,0.00,100435.00,618877.00,0.00,0.00,0.00,103146.00,0.00,0.00,0.00,0.00,0.00
15,Kankan,Kerouane,244843.00,204036.00,204036.00,244843.00,40807.00,251454.00,0.00,209545.00,0.00,41909.00,258243.00,0.00,215202.00,0.00,43040.00,265215.00,0.00,221013.00,0.00,44203.00,0.00,0.00,226981.00,0.00,0.00,0.00,0.00,227866.00,0.00,0.00
16,Kankan,Kouroussa,316645.00,263871.00,263871.00,316645.00,52774.00,325195.00,0.00,270996.00,0.00,54199.00,333975.00,0.00,278313.00,0.00,55663.00,342993.00,0.00,285827.00,0.00,57165.00,352253.00,0.00,293544.00,0.00,58709.00,0.00,0.00,294689.00,0.00,0.00
17,Kankan,Mandiana,396328.00,330274.00,330274.00,396328.00,66055.00,407029.00,0.00,339191.00,407029.00,67838.00,0.00,0.00,348349.00,418019.00,69670.00,429305.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,Kankan,Siguiri,799336.00,666114.00,666114.00,0.00,133223.00,820918.00,0.00,684098.00,0.00,136820.00,843084.00,0.00,702570.00,0.00,140514.00,865846.00,0.00,721538.00,0.00,144308.00,889224.00,0.00,741020.00,0.00,148204.00,0.00,0.00,743911.00,0.00,0.00
19,Kindia,Coyah,0.00,0.00,259004.00,0.00,0.00,0.00,0.00,265997.00,0.00,0.00,0.00,0.00,273179.00,0.00,0.00,0.00,0.00,280555.00,0.00,0.00,0.00,0.00,288130.00,0.00,0.00,0.00,0.00,289254.00,0.00,0.00
20,Kindia,Dubreka,0.00,0.00,324364.00,0.00,0.00,0.00,0.00,333122.00,0.00,0.00,0.00,0.00,342116.00,0.00,0.00,0.00,0.00,351354.00,0.00,0.00,0.00,0.00,360840.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,Kindia,Forecariah,286333.00,238611.00,238611.00,286333.00,47722.00,294064.00,0.00,245054.00,294064.00,49011.00,302004.00,0.00,251670.00,302004.00,50334.00,0.00,0.00,258466.00,310159.00,51693.00,0.00,0.00,265444.00,318533.00,0.00,0.00,0.00,266479.00,319775.00,0.00
22,Kindia,Kindia,517843.00,431536.00,431536.00,517843.00,86307.00,531825.00,0.00,443187.00,531825.00,88637.00,546184.00,0.00,455154.00,546184.00,91031.00,560931.00,0.00,467442.00,560931.00,0.00,0.00,0.00,480064.00,0.00,0.00,0.00,0.00,481936.00,0.00,0.00
23,Kindia,Telimele,335408.00,0.00,279506.00,335408.00,55901.00,0.00,0.00,287053.00,344463.00,57411.00,0.00,0.00,294803.00,353764.00,58961.00,0.00,0.00,302763.00,363316.00,60553.00,0.00,0.00,310938.00,373125.00,62188.00,0.00,0.00,312151.00,0.00,0.00
24,Labe,Koubia,0.00,98082.00,98082.00,0.00,19616.00,0.00,0.00,100730.00,0.00,20146.00,0.00,0.00,103450.00,0.00,20690.00,0.00,0.00,106242.00,0.00,21248.00,0.00,0.00,109111.00,0.00,21822.00,0.00,0.00,109537.00,0.00,0.00
25,Labe,Labe,0.00,0.00,312398.00,0.00,62480.00,0.00,0.00,320833.00,0.00,64167.00,0.00,0.00,329496.00,0.00,65899.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,Labe,Lelouma,192160.00,160134.00,160134.00,192160.00,32027.00,197349.00,164458.00,164458.00,197349.00,32892.00,0.00,168898.00,168898.00,202677.00,33780.00,208149.00,173458.00,173458.00,208149.00,34692.00,213769.00,178141.00,178141.00,213769.00,0.00,0.00,0.00,0.00,0.00,0.00
27,Labe,Mali,339259.00,282716.00,282716.00,0.00,56543.00,348420.00,290350.00,290350.00,0.00,58070.00,357827.00,298189.00,298189.00,0.00,59638.00,367488.00,306240.00,306240.00,0.00,61248.00,0.00,314508.00,314508.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,Labe,Tougue,146620.00,122183.00,0.00,0.00,24437.00,150579.00,125482.00,0.00,0.00,25096.00,154644.00,128870.00,0.00,0.00,25774.00,158820.00,132350.00,0.00,0.00,0.00,163108.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,Mamou,Dalaba,157610.00,0.00,0.00,157610.00,26268.00,161866.00,0.00,0.00,161866.00,26978.00,166236.00,0.00,0.00,166236.00,27706.00,0.00,0.00,0.00,170724.00,28454.00,0.00,0.00,0.00,0.00,29222.00,0.00,0.00,0.00,0.00,0.00
30,Mamou,Mamou,376106.00,313422.00,313422.00,0.00,62684.00,386261.00,321884.00,321884.00,0.00,64377.00,396690.00,330575.00,330575.00,0.00,66115.00,0.00,339500.00,339500.00,0.00,67900.00,418401.00,348667.00,348667.00,0.00,69733.00,0.00,0.00,0.00,0.00,0.00
31,Mamou,Pita,327900.00,0.00,0.00,327900.00,54650.00,336754.00,0.00,0.00,336754.00,56126.00,345846.00,0.00,0.00,345846.00,57641.00,355184.00,0.00,0.00,355184.00,0.00,364774.00,0.00,0.00,364774.00,0.00,0.00,0.00,0.00,366197.00,0.00
32,N'Zerekore,Beyla,384700.00,320583.00,320583.00,384700.00,64117.00,395087.00,329239.00,329239.00,395087.00,65848.00,405754.00,338128.00,338128.00,405754.00,67626.00,416709.00,347258.00,347258.00,416709.00,69452.00,427960.00,356634.00,356634.00,0.00,0.00,0.00,0.00,358025.00,0.00,0.00
33,N'Zerekore,Gueckedou,0.00,285520.00,285520.00,342624.00,57104.00,0.00,293229.00,293229.00,351875.00,58646.00,0.00,301146.00,301146.00,361376.00,60229.00,0.00,309277.00,309277.00,371132.00,61855.00,0.00,317628.00,317628.00,0.00,63526.00,0.00,0.00,0.00,0.00,0.00
34,N'Zerekore,Lola,0.00,168666.00,168666.00,202400.00,33733.00,0.00,173220.00,173220.00,207864.00,34644.00,0.00,177898.00,177898.00,213477.00,35580.00,0.00,0.00,182701.00,219241.00,36540.00,0.00,0.00,187634.00,225160.00,37527.00,0.00,0.00,188365.00,226038.00,0.00
35,N'Zerekore,Macenta,328478.00,273732.00,273732.00,328478.00,54746.00,337347.00,281122.00,281122.00,337347.00,56224.00,0.00,288713.00,288713.00,346455.00,57743.00,355810.00,0.00,296508.00,355810.00,0.00,0.00,0.00,304514.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36,N'Zerekore,N'Zerekore,0.00,389714.00,389714.00,467657.00,77943.00,0.00,400237.00,400237.00,480284.00,80047.00,0.00,411043.00,411043.00,493252.00,82209.00,0.00,422142.00,422142.00,0.00,84428.00,0.00,433539.00,433539.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37,N'Zerekore,Yomou,0.00,112366.00,112366.00,0.00,22473.00,0.00,115399.00,115399.00,0.00,23080.00,0.00,118515.00,118515.00,0.00,23703.00,0.00,121715.00,121715.00,0.00,0.00,0.00,125002.00,125002.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [25]:
# Count the number of target districts 
     
value = []

for column_name in disease_burden_data_2021_2025.loc[:, ~disease_burden_data_2021_2025.columns.isin(['Regions','Districts'])].columns:
    column = disease_burden_data_2021_2025.loc[:, ~disease_burden_data_2021_2025.columns.isin(['Regions','Districts'])][column_name]
    # Get the count of Zeros in column 
    count = (column != 0).sum()
    if count == 0:
        count = 0
        value.append(count)
    else:
        count = count+1
        value.append(count)
    #print('Total number of districts with ', column_name, ' is : ', count)


Target_Disease_population_year = { 
        
        'Name of the disease & Target population year': ['LF Target population 2021',
       'Oncho Target population 2021', 'SCH Target population 2021',
       'STH Target population 2021', 'Trachoma Target population 2021',
       'LF Target population 2022', 'Oncho Target population 2022',
       'SCH Target population 2022', 'STH Target population 2022',
       'Trachoma Target population 2022', 'LF Target population 2023',
       'Oncho Target population 2023', 'SCH Target population 2023',
       'STH Target population 2023', 'Trachoma Target population 2023',
       'LF Target population 2024', 'Oncho Target population 2024',
       'SCH Target population 2024', 'STH Target population 2024',
       'Trachoma Target population 2024', 'LF Target population 2025',
       'Oncho Target population 2025', 'SCH Target population 2025',
       'STH Target population 2025', 'Trachoma Target population 2025',
       'LF Target population 2026', 'Oncho Target population 2026',
       'SCH Target population 2026', 'STH Target population 2026',
       'Trachoma Target population 2026'],
        
        'Total no.of districts effected by the disease at the endemic level':value
      }

Target_Yearlydiseasepopulation = pd.DataFrame(Target_Disease_population_year)
Target_Yearlydiseasepopulation

,Name of the disease & Target population year,Total no.of districts effected by the disease at the endemic level
0,LF Target population 2021,22
1,Oncho Target population 2021,25
2,SCH Target population 2021,32
3,STH Target population 2021,18
4,Trachoma Target population 2021,32
5,LF Target population 2022,22
6,Oncho Target population 2022,16
7,SCH Target population 2022,30
8,STH Target population 2022,15
9,Trachoma Target population 2022,29
10,LF Target population 2023,18
11,Oncho Target population 2023,16
12,SCH Target population 2023,30
13,STH Target population 2023,15
14,Trachoma Target population 2023,29
15,LF Target population 2024,18
16,Oncho Target population 2024,13
17,SCH Target population 2024,27
18,STH Target population 2024,13
19,Trachoma Target population 2024,22
20,LF Target population 2025,12
21,Oncho Target population 2025,11
22,SCH Target population 2025,26
23,STH Target population 2025,7
24,Trachoma Target population 2025,15
25,LF Target population 2026,0
26,Oncho Target population 2026,0
27,SCH Target population 2026,17
28,STH Target population 2026,4
29,Trachoma Target population 2026,0

### Cost Anlaysis per person

### <Center> Cost per person tageted (LF) = $\left\{ \frac { Total Cost for the disease(LF)}{No.of persons targeted by the disease(LF)} \right\}$


##### Total cost for the disease includes = (Operational, Salaries, Implementation etc.,)

### <Center> Required drugs per disease

| Name of the Disease 	| Required Drugs                                 	|
|---------------------	|------------------------------------------------	|
| LF                  	| PC: Albendazole, Ivermectin 	|
| Oncho               	| PC: Ivermectin    	|
| SCH                 	| PC: Praziquantel                     	|
| STH                 	| PC: Albendazole Mebendazole                    	|
| Trachoma            	| PC: Azithromycin Tetracycline                  	|

### <Center> Cost of each drug 

| Name of the drug                      	| Cost of each drug (GNF) 	|
|---------------------------------------	|-------------------------	|
| IVM - Ivermectin                      	| 105000                  	|
| ALB - Albendazole (with IVM or DEC)   	| 200                     	|
| ALB - Albendazole (alone or with PZQ) 	| 450                     	|
| MBD - Mebendazole (alone or with PZQ) 	| 495                     	|
| PZQ - Praziquantel                    	| 15000                   	|
| TEO - Tetracycline eye ointment       	| 10000                   	|
| DEC - Diethylcarbamizine              	| 0                       	|
| Zmax - POS - Zithromax POS            	| 485000                  	|
| Zmax -TABS - Zithromax tablets        	| 114500                  	|

In [26]:


cost_Factors = {'Factors': ['Strategic Planning','Program PMO','Advocacy','Social Mobilasation','Mass Drug Administration',
                            'Medical Supply Chain Logistics','Monitoring and Evaluation','Training','Mapping Disease Areas',
                            'Mornidity Management','Vector Control and Immuzation Campaigns','Water and Sanitation Campaign'],
                'Value(GNF)': [178656000,898000000,87846960,1316056200,653477000,750981280,1121936760,288298500,41752200,
                               4560749512,12404670,904750000]}

cost_Factors = pd.DataFrame(cost_Factors)
cost_Factors

                                    Factors  Value(GNF)
0                        Strategic Planning   178656000
1                               Program PMO   898000000
2                                  Advocacy    87846960
3                       Social Mobilasation  1316056200
4                  Mass Drug Administration   653477000
5            Medical Supply Chain Logistics   750981280
6                 Monitoring and Evaluation  1121936760
7                                  Training   288298500
8                     Mapping Disease Areas    41752200
9                      Mornidity Management  4560749512
10  Vector Control and Immuzation Campaigns    12404670
11            Water and Sanitation Campaign   904750000

### Five-Year Projections - 2021 to 2025

* ##### Year 2021 projection

In [27]:
## Projection for the year 2021

Year_2021 = {'Name of the disease':['LF', 'Oncho', 'SCH', 'STH', 'Trachoma'], 
        'Total no.of population effected by disease':[disease_burdenData_2021['LF Target population 2021'].sum(),
                                                      disease_burdenData_2021['Oncho Target population 2021'].sum(),
                                                      disease_burdenData_2021['SCH Target population 2021'].sum(),
                                                      disease_burdenData_2021['STH Target population 2021'].sum(),
                                                      disease_burdenData_2021['Trachoma Target population 2021'].sum()],
                                                      
        'Number of districts targeted by the disease': [Target_Yearlydiseasepopulation.iloc[0][1],Target_Yearlydiseasepopulation.iloc[1][1],
                                         Target_Yearlydiseasepopulation.iloc[2][1],Target_Yearlydiseasepopulation.iloc[3][1],
                                         Target_Yearlydiseasepopulation.iloc[4][1]],
        
        'Number of drug units required':[ALB_Albendazole_with_IVM_or_DEC_2021,IVM_Ivermectin_2021,PZQ_Praziquantel_2021,ALB_or_MBD_alone_or_with_PZQ_2021,TEO_2021],
        
        'Cost of Treatment per person (GNF)': [(cost_Factors['Value(GNF)'].sum()/disease_burdenData_2021['LF Target population 2021'].sum()),
                                               (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2021['Oncho Target population 2021'].sum()), 
                                               (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2021['SCH Target population 2021'].sum()),
                                               (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2021['STH Target population 2021'].sum()),
                                               (cost_Factors['Value(GNF)'].sum() /disease_burdenData_2021['Trachoma Target population 2021'].sum()) ]}

Year_2021 = pd.DataFrame(Year_2021)
Year_2021['Number of drug units required'] = Year_2021['Number of drug units required'].round()
Year_2021 = Year_2021.transpose()
Year_2021 = Year_2021.rename(columns=Year_2021.iloc[0]).drop(Year_2021.index[0])
Year_2021['Year'] = 2021
Year_2021

,LF,Oncho,SCH,STH,Trachoma,Year
Total no.of population effected by disease,6983853.00,6368205.00,9254563.00,5721921.00,1622154.00,2021
Number of districts targeted by the disease,22,25,32,18,32,2021
Number of drug units required,5997953.00,19746442.00,20796953.00,843901.00,0.00,2021
Cost of Treatment per person (GNF),1548.56,1698.27,1168.60,1890.08,6667.01,2021

* ##### Year 2021 projection

In [28]:
## Projection for the year 2022

Year_2022 = {'Name of the disease':['LF', 'Oncho', 'SCH', 'STH', 'Trachoma'], 
              'Total no.of population effected by disease':[disease_burdenData_2022['LF Target population 2022'].sum(),
                                                            disease_burdenData_2022['Oncho Target population 2022'].sum(),
                                                            disease_burdenData_2022['SCH Target population 2022'].sum(),
                                                            disease_burdenData_2022['STH Target population 2022'].sum(),
                                                            disease_burdenData_2022['Trachoma Target population 2022'].sum()],
                                                      
              'Number of districts targeted by the disease': [Target_Yearlydiseasepopulation.iloc[5][1],Target_Yearlydiseasepopulation.iloc[6][1],
                                               Target_Yearlydiseasepopulation.iloc[7][1],Target_Yearlydiseasepopulation.iloc[8][1],
                                               Target_Yearlydiseasepopulation.iloc[9][1]],
        
              'Number of drug units required':[ALB_Albendazole_with_IVM_or_DEC_2022,IVM_Ivermectin_2022,PZQ_Praziquantel_2022,ALB_or_MBD_alone_or_with_PZQ_2022,TEO_2022],
        
               'Cost of Treatment per person (GNF)': [(cost_Factors['Value(GNF)'].sum()/disease_burdenData_2022['LF Target population 2022'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2022['Oncho Target population 2022'].sum()), 
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2022['SCH Target population 2022'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2022['STH Target population 2022'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2022['Trachoma Target population 2022'].sum()) ]}


Year_2022 = pd.DataFrame(Year_2022)
Year_2022['Number of drug units required'] = Year_2022['Number of drug units required'].round()
Year_2022 = Year_2022.transpose()
Year_2022 = Year_2022.rename(columns=Year_2022.iloc[0]).drop(Year_2022.index[0])
Year_2022['Year'] = 2022
Year_2022

,LF,Oncho,SCH,STH,Trachoma,Year
Total no.of population effected by disease,7047414.00,3485231.00,8952731.00,4728427.00,1512710.00,2022
Number of districts targeted by the disease,22,16,30,15,29,2022
Number of drug units required,6052541.00,15576795.00,20118673.00,697375.00,0.00,2022
Cost of Treatment per person (GNF),1534.59,3103.07,1208.00,2287.21,7149.36,2022

* ##### Year 2022 projection

In [29]:
## Projection for the year 2023

Year_2023 = {'Name of the disease':['LF', 'Oncho', 'SCH', 'STH', 'Trachoma'], 
              'Total no.of population effected by disease':[disease_burdenData_2023['LF Target population 2023'].sum(),
                                                            disease_burdenData_2023['Oncho Target population 2023'].sum(),
                                                            disease_burdenData_2023['SCH Target population 2023'].sum(),
                                                            disease_burdenData_2023['STH Target population 2023'].sum(),
                                                            disease_burdenData_2023['Trachoma Target population 2023'].sum()],
                                                      
              'Number of districts targeted by the disease': [Target_Yearlydiseasepopulation.iloc[10][1],Target_Yearlydiseasepopulation.iloc[11][1],
                                               Target_Yearlydiseasepopulation.iloc[12][1],Target_Yearlydiseasepopulation.iloc[13][1],
                                               Target_Yearlydiseasepopulation.iloc[14][1]],
        
              'Number of drug units required':[ALB_Albendazole_with_IVM_or_DEC_2023,IVM_Ivermectin_2023,PZQ_Praziquantel_2023,ALB_or_MBD_alone_or_with_PZQ_2023,TEO_2023],
        
               'Cost of Treatment per person (GNF)': [(cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['LF Target population 2023'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['Oncho Target population 2023'].sum()), 
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['SCH Target population 2023'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['STH Target population 2023'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum() /disease_burdenData_2023['Trachoma Target population 2023'].sum()) ]}


Year_2023 = pd.DataFrame(Year_2023)
Year_2023['Number of drug units required'] = Year_2023['Number of drug units required'].round()
Year_2023 = Year_2023.transpose()
Year_2023 = Year_2023.rename(columns=Year_2023.iloc[0]).drop(Year_2023.index[0])
Year_2023['Year'] = 2023
Year_2023

,LF,Oncho,SCH,STH,Trachoma,Year
Total no.of population effected by disease,5683779.00,3579333.00,9194457.00,4856095.00,1553556.00,2023
Number of districts targeted by the disease,18,16,30,15,29,2023
Number of drug units required,4881408.00,13699274.00,20661882.00,716204.00,0.00,2023
Cost of Treatment per person (GNF),1902.77,3021.49,1176.24,2227.08,6961.39,2023

* ##### Year 2023 projection

In [30]:
## Projection for the year 2023

Year_2023 = {'Name of the disease':['LF', 'Oncho', 'SCH', 'STH', 'Trachoma'], 
              'Total no.of population effected by disease':[disease_burdenData_2023['LF Target population 2023'].sum(),
                                                            disease_burdenData_2023['Oncho Target population 2023'].sum(),
                                                            disease_burdenData_2023['SCH Target population 2023'].sum(),
                                                            disease_burdenData_2023['STH Target population 2023'].sum(),
                                                            disease_burdenData_2023['Trachoma Target population 2023'].sum()],
                                                      
              'Number of districts targeted by the disease': [Target_Yearlydiseasepopulation.iloc[10][1],Target_Yearlydiseasepopulation.iloc[11][1],
                                               Target_Yearlydiseasepopulation.iloc[12][1],Target_Yearlydiseasepopulation.iloc[13][1],
                                               Target_Yearlydiseasepopulation.iloc[14][1]],
        
              'Number of drug units required':[ALB_Albendazole_with_IVM_or_DEC_2023,IVM_Ivermectin_2023,PZQ_Praziquantel_2023,ALB_or_MBD_alone_or_with_PZQ_2023,TEO_2023],
        
               'Cost of Treatment per person (GNF)': [(cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['LF Target population 2023'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['Oncho Target population 2023'].sum()), 
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['SCH Target population 2023'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2023['STH Target population 2023'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum() /disease_burdenData_2023['Trachoma Target population 2023'].sum()) ]}


Year_2023 = pd.DataFrame(Year_2023)
Year_2023['Number of drug units required'] = Year_2023['Number of drug units required'].round()
Year_2023 = Year_2023.transpose()
Year_2023 = Year_2023.rename(columns=Year_2023.iloc[0]).drop(Year_2023.index[0])
Year_2023['Year'] = 2023
Year_2023

,LF,Oncho,SCH,STH,Trachoma,Year
Total no.of population effected by disease,5683779.00,3579333.00,9194457.00,4856095.00,1553556.00,2023
Number of districts targeted by the disease,18,16,30,15,29,2023
Number of drug units required,4881408.00,13699274.00,20661882.00,716204.00,0.00,2023
Cost of Treatment per person (GNF),1902.77,3021.49,1176.24,2227.08,6961.39,2023

* ##### Year 2024 projection

In [31]:
## Projection for the year 2024

Year_2024 = {'Name of the disease':['LF', 'Oncho', 'SCH', 'STH', 'Trachoma'], 
              'Total no.of population effected by disease':[disease_burdenData_2024['LF Target population 2024'].sum(),
                                                            disease_burdenData_2024['Oncho Target population 2024'].sum(),
                                                            disease_burdenData_2024['SCH Target population 2024'].sum(),
                                                            disease_burdenData_2024['STH Target population 2024'].sum(),
                                                            disease_burdenData_2024['Trachoma Target population 2024'].sum()],
                                                      
              'Number of districts targeted by the disease': [Target_Yearlydiseasepopulation.iloc[15][1],Target_Yearlydiseasepopulation.iloc[16][1],
                                               Target_Yearlydiseasepopulation.iloc[17][1],Target_Yearlydiseasepopulation.iloc[18][1],
                                               Target_Yearlydiseasepopulation.iloc[19][1]],
        
              'Number of drug units required':[ALB_Albendazole_with_IVM_or_DEC_2024,IVM_Ivermectin_2024,PZQ_Praziquantel_2024,ALB_or_MBD_alone_or_with_PZQ_2024,TEO_2024],
        
               'Cost of Treatment per person (GNF)': [(cost_Factors['Value(GNF)'].sum() / disease_burdenData_2024['LF Target population 2024'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum() / disease_burdenData_2024['Oncho Target population 2024'].sum()), 
                                                      (cost_Factors['Value(GNF)'].sum() / disease_burdenData_2024['SCH Target population 2024'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum() / disease_burdenData_2024['STH Target population 2024'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum() /disease_burdenData_2024['Trachoma Target population 2024'].sum()) ]}


Year_2024 = pd.DataFrame(Year_2024)
Year_2024['Number of drug units required'] = Year_2024['Number of drug units required'].round()
Year_2024 = Year_2024.transpose()
Year_2024 = Year_2024.rename(columns=Year_2024.iloc[0]).drop(Year_2024.index[0])
Year_2024['Year'] = 2024
Year_2024

,LF,Oncho,SCH,STH,Trachoma,Year
Total no.of population effected by disease,6293851.00,3003876.00,8553669.00,4051335.00,1193469.00,2024
Number of districts targeted by the disease,18,13,27,13,22,2024
Number of drug units required,5405357.00,13750467.00,19221896.00,597513.00,0.00,2024
Cost of Treatment per person (GNF),1718.33,3600.32,1264.36,2669.47,9061.74,2024

* ##### Year 2025 projection

In [32]:
## Projection for the year 2025

Year_2025 = {'Name of the disease':['LF', 'Oncho', 'SCH', 'STH', 'Trachoma'], 
              'Total no.of population effected by disease':[disease_burdenData_2025['LF Target population 2025'].sum(),
                                                            disease_burdenData_2025['Oncho Target population 2025'].sum(),
                                                            disease_burdenData_2025['SCH Target population 2025'].sum(),
                                                            disease_burdenData_2025['STH Target population 2025'].sum(),
                                                            disease_burdenData_2025['Trachoma Target population 2025'].sum()],
                                                      
              'Number of districts targeted by the disease': [Target_Yearlydiseasepopulation.iloc[20][1],Target_Yearlydiseasepopulation.iloc[21][1],
                                               Target_Yearlydiseasepopulation.iloc[22][1],Target_Yearlydiseasepopulation.iloc[23][1],
                                               Target_Yearlydiseasepopulation.iloc[24][1]],
        
              'Number of drug units required':[ALB_Albendazole_with_IVM_or_DEC_2025,IVM_Ivermectin_2025,PZQ_Praziquantel_2025,ALB_or_MBD_alone_or_with_PZQ_2025,TEO_2025],
        
               'Cost of Treatment per person (GNF)': [(cost_Factors['Value(GNF)'].sum()/disease_burdenData_2025['LF Target population 2025'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2025['Oncho Target population 2025'].sum()), 
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2025['SCH Target population 2025'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum()/disease_burdenData_2025['STH Target population 2025'].sum()),
                                                      (cost_Factors['Value(GNF)'].sum() /disease_burdenData_2025['Trachoma Target population 2025'].sum()) ]}


Year_2025 = pd.DataFrame(Year_2025)
Year_2025['Number of drug units required'] = Year_2025['Number of drug units required'].round()
Year_2025 = Year_2025.transpose()
Year_2025 = Year_2025.rename(columns=Year_2025.iloc[0]).drop(Year_2025.index[0])
Year_2025['Year'] = 2025
Year_2025

,LF,Oncho,SCH,STH,Trachoma,Year
Total no.of population effected by disease,4228283.00,2807018.00,8268890.00,1867113.00,842236.00,2025
Number of districts targeted by the disease,12,11,26,7,15,2025
Number of drug units required,3631383.00,10404551.00,18581938.00,275372.00,0.00,2025
Cost of Treatment per person (GNF),2557.75,3852.81,1307.90,5792.32,12840.71,2025

In [33]:
### Concatenation of years from 2021 to 2025

five_Yearprojection = pd.concat([Year_2021,Year_2022,Year_2023,Year_2024,Year_2025],axis=0)
five_Yearprojection = five_Yearprojection.sort_index(ascending=True)
five_Yearprojection

,LF,Oncho,SCH,STH,Trachoma,Year
Cost of Treatment per person (GNF),2557.75,3852.81,1307.90,5792.32,12840.71,2025
Cost of Treatment per person (GNF),1718.33,3600.32,1264.36,2669.47,9061.74,2024
Cost of Treatment per person (GNF),1548.56,1698.27,1168.60,1890.08,6667.01,2021
Cost of Treatment per person (GNF),1902.77,3021.49,1176.24,2227.08,6961.39,2023
Cost of Treatment per person (GNF),1534.59,3103.07,1208.00,2287.21,7149.36,2022
Number of districts targeted by the disease,12,11,26,7,15,2025
Number of districts targeted by the disease,18,13,27,13,22,2024
Number of districts targeted by the disease,18,16,30,15,29,2023
Number of districts targeted by the disease,22,16,30,15,29,2022
Number of districts targeted by the disease,22,25,32,18,32,2021
Number of drug units required,3631383.00,10404551.00,18581938.00,275372.00,0.00,2025
Number of drug units required,4881408.00,13699274.00,20661882.00,716204.00,0.00,2023
Number of drug units required,5405357.00,13750467.00,19221896.00,597513.00,0.00,2024
Number of drug units required,5997953.00,19746442.00,20796953.00,843901.00,0.00,2021
Number of drug units required,6052541.00,15576795.00,20118673.00,697375.00,0.00,2022
Total no.of population effected by disease,5683779.00,3579333.00,9194457.00,4856095.00,1553556.00,2023
Total no.of population effected by disease,6293851.00,3003876.00,8553669.00,4051335.00,1193469.00,2024
Total no.of population effected by disease,7047414.00,3485231.00,8952731.00,4728427.00,1512710.00,2022
Total no.of population effected by disease,4228283.00,2807018.00,8268890.00,1867113.00,842236.00,2025
Total no.of population effected by disease,6983853.00,6368205.00,9254563.00,5721921.00,1622154.00,2021

In [ ]:
five_Yearprojection_French['index'] = five_Yearprojection_French.apply(lambda row: model.translate(row["index"], target_lang="fr"), axis=1)
five_Yearprojection_French

### Task 2: Total Population Vs Target population - Summary by districts

In [34]:
# Extract total population
total_Popualtion2021 = disease_burdenData[['Regions','Districts','Total population2021']].dropna()
total_Popualtion2022 = disease_burdenData[['Regions','Districts','Total population2022']].dropna()
total_Popualtion2023 = disease_burdenData[['Regions','Districts','Total population2023']].dropna()
total_Popualtion2024 = disease_burdenData[['Regions','Districts','Total population2024']].dropna()
total_Popualtion2025 = disease_burdenData[['Regions','Districts','Total population2025']].dropna()
#total_Popualtion2026 = disease_burdenData[['Regions','Districts','Total population2026']].dropna()

## Extract target population
total_Popualtion2021['Target_population2021'] = disease_burdenData_2021[['LF Target population 2021','Oncho Target population 2021','SCH Target population 2021','STH Target population 2021','Trachoma Target population 2021']].sum(axis = 1)
total_Popualtion2022['Target_population2022'] = disease_burdenData_2022[['LF Target population 2022','Oncho Target population 2022','SCH Target population 2022','STH Target population 2022','Trachoma Target population 2022']].sum(axis = 1)
total_Popualtion2023['Target_population2023'] = disease_burdenData_2023[['LF Target population 2023','Oncho Target population 2023','SCH Target population 2023','STH Target population 2023','Trachoma Target population 2023']].sum(axis = 1)
total_Popualtion2024['Target_population2024'] = disease_burdenData_2024[['LF Target population 2024','Oncho Target population 2024','SCH Target population 2024','STH Target population 2024','Trachoma Target population 2024']].sum(axis = 1)
total_Popualtion2025['Target_population2025'] = disease_burdenData_2025[['LF Target population 2025','Oncho Target population 2025','SCH Target population 2025','STH Target population 2025','Trachoma Target population 2025']].sum(axis = 1)
#total_Popualtion2026['Target_population2026'] = disease_burdenData_2026[['LF Target population 2026','Oncho Target population 2026','SCH Target population 2026','STH Target population 2026','Trachoma Target population 2026']].sum(axis = 1)

In [58]:
total_targetpopulation = total_Popualtion2021.merge(total_Popualtion2022).merge(total_Popualtion2023).merge(total_Popualtion2024).merge(total_Popualtion2025)#.merge(total_Popualtion2026)
total_targetpopulation

,Regions,Districts,Total population2021,Target_population2021,Total population2022,Target_population2022,Total population2023,Target_population2023,Total population2024,Target_population2024,Total population2025,Target_population2025
0,Boke,Boffa,261085.00,41774.00,268134.00,0.00,275374.00,0.00,282809.00,0.00,290445.00,0.00
1,Boke,Boke,552704.00,530596.00,567627.00,0.00,582953.00,0.00,598693.00,0.00,614857.00,0.00
2,Boke,Fria,118795.00,114043.00,122002.00,0.00,125297.00,0.00,128680.00,0.00,132154.00,0.00
3,Boke,Gaoual,237892.00,647067.00,244315.00,664536.00,250912.00,682482.00,257686.00,700907.00,264644.00,465773.00
4,Boke,Koundara,159602.00,434118.00,163911.00,445839.00,168337.00,457878.00,172882.00,470240.00,177550.00,312488.00
5,Conakry,Dixinn,166835.00,0.00,171340.00,0.00,175966.00,0.00,180717.00,0.00,185596.00,0.00
6,Conakry,Kaloum,76754.00,0.00,78826.00,0.00,80955.00,0.00,83140.00,0.00,85385.00,0.00
7,Conakry,Matam,176047.00,0.00,180800.00,0.00,185682.00,0.00,190695.00,0.00,195844.00,0.00
8,Conakry,Matoto,818340.00,654672.00,840435.00,672348.00,863127.00,690502.00,886431.00,709145.00,910365.00,728292.00
9,Conakry,Ratoma,801748.00,641398.00,823395.00,658716.00,845627.00,676502.00,868459.00,694767.00,891907.00,713526.00
10,Faranah,Dabola,222591.00,391761.00,228601.00,621795.00,234773.00,638582.00,241112.00,270046.00,247622.00,277337.00
11,Faranah,Dinguiraye,241352.00,656478.00,247869.00,674203.00,254561.00,692407.00,261434.00,460123.00,268493.00,472547.00
12,Faranah,Faranah,344272.00,1266922.00,353567.00,1301127.00,363114.00,1336258.00,372918.00,1372337.00,382987.00,674058.00
13,Faranah,Kissidougou,348097.00,1280998.00,357496.00,1029588.00,367148.00,1057386.00,377061.00,1085937.00,387242.00,1115257.00
14,Kankan,Kankan,579498.00,2132552.00,595144.00,1142676.00,611213.00,586764.00,627716.00,1205215.00,644664.00,722023.00
15,Kankan,Kerouane,255045.00,938565.00,261931.00,502908.00,269003.00,516485.00,276266.00,530431.00,283726.00,226981.00
16,Kankan,Kouroussa,329839.00,1213806.00,338745.00,650390.00,347891.00,667951.00,357284.00,685985.00,366930.00,704506.00
17,Kankan,Mandiana,412842.00,1519259.00,423989.00,1221087.00,435436.00,836038.00,447193.00,429305.00,459267.00,0.00
18,Kankan,Siguiri,832642.00,2264787.00,855123.00,1641836.00,878212.00,1686168.00,901923.00,1731692.00,926275.00,1778448.00
19,Kindia,Coyah,323755.00,259004.00,332496.00,265997.00,341474.00,273179.00,350694.00,280555.00,360162.00,288130.00
20,Kindia,Dubreka,405455.00,324364.00,416402.00,333122.00,427645.00,342116.00,439192.00,351354.00,451050.00,360840.00
21,Kindia,Forecariah,298264.00,1097610.00,306317.00,882193.00,314588.00,906012.00,323082.00,620318.00,331805.00,583977.00
22,Kindia,Kindia,539420.00,1985065.00,553984.00,1595474.00,568942.00,1638553.00,584303.00,1589304.00,600080.00,480064.00
23,Kindia,Telimele,349383.00,1006223.00,358816.00,688927.00,368504.00,707528.00,378454.00,726632.00,388672.00,746251.00
24,Labe,Koubia,122602.00,215780.00,125912.00,120876.00,129312.00,124140.00,132803.00,127490.00,136389.00,130933.00
25,Labe,Labe,390498.00,374878.00,401041.00,385000.00,411870.00,395395.00,422990.00,0.00,434411.00,0.00
26,Labe,Lelouma,200167.00,736615.00,205572.00,756506.00,211122.00,574253.00,216822.00,797906.00,222676.00,783820.00
27,Labe,Mali,353395.00,961234.00,362937.00,987190.00,372736.00,1013843.00,382800.00,1041216.00,393135.00,629016.00
28,Labe,Tougue,152729.00,293240.00,156853.00,301157.00,161088.00,309288.00,165437.00,291170.00,169904.00,163108.00
29,Mamou,Dalaba,164177.00,341488.00,168610.00,350710.00,173162.00,360178.00,177838.00,199178.00,182639.00,29222.00
30,Mamou,Mamou,391777.00,1065634.00,402355.00,1094406.00,413219.00,1123955.00,424375.00,746900.00,435834.00,1185468.00
31,Mamou,Pita,341563.00,710450.00,350785.00,729634.00,360256.00,749333.00,369983.00,710368.00,379973.00,729548.00
32,N'Zerekore,Beyla,400729.00,1474683.00,411549.00,1514500.00,422660.00,1555390.00,434072.00,1597386.00,445792.00,1141228.00
33,N'Zerekore,Gueckedou,356900.00,970768.00,366536.00,996979.00,376433.00,1023897.00,386596.00,1051541.00,397035.00,698782.00
34,N'Zerekore,Lola,210833.00,573465.00,216525.00,588948.00,222372.00,604853.00,228376.00,438482.00,234542.00,450321.00
35,N'Zerekore,Macenta,342165.00,1259166.00,351403.00,1293162.00,360891.00,981624.00,370635.00,1008128.00,380643.00,304514.00
36,N'Zerekore,N'Zerekore,487143.00,1325028.00,500296.00,1360805.00,513804.00,1397547.00,527677.00,928712.00,541924.00,867078.00
37,N'Zerekore,Yomou,140457.00,247205.00,144249.00,253878.00,148144.00,260733.00,152144.00,243430.00,156252.00,250004.00

## Conversion from  English to French language

#### Task 1 : Five Year Projection (French)

In [55]:
model = EasyNMT("opus-mt")
five_Yearprojection_French = five_Yearprojection.reset_index()
five_Yearprojection_French.head()
five_Yearprojection_French['index'] = five_Yearprojection_French.apply(lambda row: model.translate(row["index"], target_lang="fr"), axis=1)

## Rename column rename
five_Yearprojection_French = five_Yearprojection_French.rename(columns={'index': model.translate('index', target_lang="fr"), 
                                                'Regions': model.translate('index', target_lang="fr"),
                                                'Districts' : model.translate('Districts', target_lang="fr"),
                                                'LF' : model.translate('LF', target_lang="fr") ,
                                                'Oncho' : model.translate('Oncho', target_lang="fr"),
                                                'SCH' : model.translate('SCH', target_lang="fr"),
                                                'STH' : model.translate('STH', target_lang="fr"),
                                                'Trachoma' : model.translate('Trachoma', target_lang="fr"),
                                                'Year' : model.translate('Year', target_lang="fr")})

five_Yearprojection_French

,indice,LF,Oncho,SCH,STE,Trachom,Année
0,Coût du traitement par personne (GNF),2557.75,3852.81,1307.90,5792.32,12840.71,2025
1,Coût du traitement par personne (GNF),1718.33,3600.32,1264.36,2669.47,9061.74,2024
2,Coût du traitement par personne (GNF),1548.56,1698.27,1168.60,1890.08,6667.01,2021
3,Coût du traitement par personne (GNF),1902.77,3021.49,1176.24,2227.08,6961.39,2023
4,Coût du traitement par personne (GNF),1534.59,3103.07,1208.00,2287.21,7149.36,2022
5,Nombre de districts ciblés par la maladie,12,11,26,7,15,2025
6,Nombre de districts ciblés par la maladie,18,13,27,13,22,2024
7,Nombre de districts ciblés par la maladie,18,16,30,15,29,2023
8,Nombre de districts ciblés par la maladie,22,16,30,15,29,2022
9,Nombre de districts ciblés par la maladie,22,25,32,18,32,2021
10,Nombre d'unités médicamenteuses requises,3631383.00,10404551.00,18581938.00,275372.00,0.00,2025
11,Nombre d'unités médicamenteuses requises,4881408.00,13699274.00,20661882.00,716204.00,0.00,2023
12,Nombre d'unités médicamenteuses requises,5405357.00,13750467.00,19221896.00,597513.00,0.00,2024
13,Nombre d'unités médicamenteuses requises,5997953.00,19746442.00,20796953.00,843901.00,0.00,2021
14,Nombre d'unités médicamenteuses requises,6052541.00,15576795.00,20118673.00,697375.00,0.00,2022
15,Nombre total de personnes atteintes de maladies,5683779.00,3579333.00,9194457.00,4856095.00,1553556.00,2023
16,Nombre total de personnes atteintes de maladies,6293851.00,3003876.00,8553669.00,4051335.00,1193469.00,2024
17,Nombre total de personnes atteintes de maladies,7047414.00,3485231.00,8952731.00,4728427.00,1512710.00,2022
18,Nombre total de personnes atteintes de maladies,4228283.00,2807018.00,8268890.00,1867113.00,842236.00,2025
19,Nombre total de personnes atteintes de maladies,6983853.00,6368205.00,9254563.00,5721921.00,1622154.00,2021

### Task 2: Total Population Vs Target population - Summary by districts (In French)

In [59]:
# Create french version
total_targetpopulation_French = total_targetpopulation.copy()
total_targetpopulation_French['Regions'] = total_targetpopulation_French.apply(lambda row: model.translate(row["Regions"], target_lang="fr"), axis=1)
total_targetpopulation_French['Districts'] = total_targetpopulation_French.apply(lambda row: model.translate(row["Districts"], target_lang="fr"), axis=1)

## Column rename
total_targetpopulation_French = total_targetpopulation_French.rename(columns={ 
                                                'Regions': model.translate('index', target_lang="fr"),
                                                'Districts' : model.translate('Districts', target_lang="fr"),
                                                'Total population2021' : model.translate('Total population2021', target_lang="fr") ,
                                                'Total population2022' : model.translate('Total population2021', target_lang="fr"),
                                                'Total population2023' : model.translate('Total population2021', target_lang="fr"),
                                                'Total population2024' : model.translate('Total population2021', target_lang="fr"),
                                                'Total population2025' : model.translate('Total population2021', target_lang="fr"),
                                                'Target_population2021' : model.translate('Target_population2021', target_lang="fr"),
                                                'Target_population2022' : model.translate('Target_population2022', target_lang="fr") ,
                                                'Target_population2023' : model.translate('Target_population2023', target_lang="fr"),
                                                'Target_population2024' : model.translate('Target_population2024', target_lang="fr"),
                                                'Target_population2025' : model.translate('Target_population2025', target_lang="fr")})
total_targetpopulation_French

,indice,Districts,Population totale2021,Population cible2021,Population totale2021,Population cible2022,Population totale2021,Population cible2023,Population totale2021,Population cible2024,Population totale2021,Population cible2025
0,Coq,Boffa,261085.00,41774.00,268134.00,0.00,275374.00,0.00,282809.00,0.00,290445.00,0.00
1,Coq,Coq,552704.00,530596.00,567627.00,0.00,582953.00,0.00,598693.00,0.00,614857.00,0.00
2,Coq,Fria,118795.00,114043.00,122002.00,0.00,125297.00,0.00,128680.00,0.00,132154.00,0.00
3,Coq,Gaual,237892.00,647067.00,244315.00,664536.00,250912.00,682482.00,257686.00,700907.00,264644.00,465773.00
4,Coq,Koundara,159602.00,434118.00,163911.00,445839.00,168337.00,457878.00,172882.00,470240.00,177550.00,312488.00
5,Conakry,Dixinn,166835.00,0.00,171340.00,0.00,175966.00,0.00,180717.00,0.00,185596.00,0.00
6,Conakry,Kaloum,76754.00,0.00,78826.00,0.00,80955.00,0.00,83140.00,0.00,85385.00,0.00
7,Conakry,Matam,176047.00,0.00,180800.00,0.00,185682.00,0.00,190695.00,0.00,195844.00,0.00
8,Conakry,Matoto,818340.00,654672.00,840435.00,672348.00,863127.00,690502.00,886431.00,709145.00,910365.00,728292.00
9,Conakry,Ratome,801748.00,641398.00,823395.00,658716.00,845627.00,676502.00,868459.00,694767.00,891907.00,713526.00
10,Faranah,Dabola,222591.00,391761.00,228601.00,621795.00,234773.00,638582.00,241112.00,270046.00,247622.00,277337.00
11,Faranah,Dinguiraye,241352.00,656478.00,247869.00,674203.00,254561.00,692407.00,261434.00,460123.00,268493.00,472547.00
12,Faranah,Faranah,344272.00,1266922.00,353567.00,1301127.00,363114.00,1336258.00,372918.00,1372337.00,382987.00,674058.00
13,Faranah,Kissidougou,348097.00,1280998.00,357496.00,1029588.00,367148.00,1057386.00,377061.00,1085937.00,387242.00,1115257.00
14,C'est ça.,C'est ça.,579498.00,2132552.00,595144.00,1142676.00,611213.00,586764.00,627716.00,1205215.00,644664.00,722023.00
15,C'est ça.,Kerouane,255045.00,938565.00,261931.00,502908.00,269003.00,516485.00,276266.00,530431.00,283726.00,226981.00
16,C'est ça.,Kouroussa,329839.00,1213806.00,338745.00,650390.00,347891.00,667951.00,357284.00,685985.00,366930.00,704506.00
17,C'est ça.,Mandienne,412842.00,1519259.00,423989.00,1221087.00,435436.00,836038.00,447193.00,429305.00,459267.00,0.00
18,C'est ça.,Siguiri,832642.00,2264787.00,855123.00,1641836.00,878212.00,1686168.00,901923.00,1731692.00,926275.00,1778448.00
19,En quelque sorte,Coyah,323755.00,259004.00,332496.00,265997.00,341474.00,273179.00,350694.00,280555.00,360162.00,288130.00
20,En quelque sorte,Dubreka,405455.00,324364.00,416402.00,333122.00,427645.00,342116.00,439192.00,351354.00,451050.00,360840.00
21,En quelque sorte,Forecariah,298264.00,1097610.00,306317.00,882193.00,314588.00,906012.00,323082.00,620318.00,331805.00,583977.00
22,En quelque sorte,En quelque sorte,539420.00,1985065.00,553984.00,1595474.00,568942.00,1638553.00,584303.00,1589304.00,600080.00,480064.00
23,En quelque sorte,Télimélé,349383.00,1006223.00,358816.00,688927.00,368504.00,707528.00,378454.00,726632.00,388672.00,746251.00
24,Labe,Koubia,122602.00,215780.00,125912.00,120876.00,129312.00,124140.00,132803.00,127490.00,136389.00,130933.00
25,Labe,Labe,390498.00,374878.00,401041.00,385000.00,411870.00,395395.00,422990.00,0.00,434411.00,0.00
26,Labe,Lelouma,200167.00,736615.00,205572.00,756506.00,211122.00,574253.00,216822.00,797906.00,222676.00,783820.00
27,Labe,Mali,353395.00,961234.00,362937.00,987190.00,372736.00,1013843.00,382800.00,1041216.00,393135.00,629016.00
28,Labe,Touge,152729.00,293240.00,156853.00,301157.00,161088.00,309288.00,165437.00,291170.00,169904.00,163108.00
29,Mamou,Dalaba,164177.00,341488.00,168610.00,350710.00,173162.00,360178.00,177838.00,199178.00,182639.00,29222.00
30,Mamou,Mamou,391777.00,1065634.00,402355.00,1094406.00,413219.00,1123955.00,424375.00,746900.00,435834.00,1185468.00
31,Mamou,Pita,341563.00,710450.00,350785.00,729634.00,360256.00,749333.00,369983.00,710368.00,379973.00,729548.00
32,N'Zeriore,Beyla,400729.00,1474683.00,411549.00,1514500.00,422660.00,1555390.00,434072.00,1597386.00,445792.00,1141228.00
33,N'Zeriore,Gueckedou,356900.00,970768.00,366536.00,996979.00,376433.00,1023897.00,386596.00,1051541.00,397035.00,698782.00
34,N'Zeriore,Lola,210833.00,573465.00,216525.00,588948.00,222372.00,604853.00,228376.00,438482.00,234542.00,450321.00
35,N'Zeriore,Macenta,342165.00,1259166.00,351403.00,1293162.00,360891.00,981624.00,370635.00,1008128.00,380643.00,304514.00
36,N'Zeriore,N'Zeriore,487143.00,1325028.00,500296.00,1360805.00,513804.00,1397547.00,527677.00,928712.00,541924.00,867078.00
37,N'Zeriore,Yomou,140457.00,247205.00,144249.00,253878.00,148144.00,260733.00,152144.00,243430.00,156252.00,250004.00

In [62]:
## Download French Version dataframes into csv format
five_Yearprojection_French.to_csv(r'five_Yearprojection_in_French.csv', index=False)
total_targetpopulation_French.to_csv(r'total_targetpopulation_in_French.csv', index=False)

In [63]:
files.download('five_Yearprojection_in_French.csv')
files.download('total_targetpopulation_in_French.csv')